<!-- Load only one title depending on depth -->
<h1 *ngIf="depth==0" [id]="getShortTitle()" class="show-anchor">{{section.title}} <a [routerLink]="[route]" [fragment]="getShortTitle()" class="anchor glyphicon glyphicon-link"></a></h1>
<h2 *ngIf="depth==1" [id]="getShortTitle()" class="show-anchor">{{section.title}} <a [routerLink]="[route]" [fragment]="getShortTitle()" class="anchor glyphicon glyphicon-link"></a></h2>
<h3 *ngIf="depth==2" [id]="getShortTitle()" class="show-anchor">{{section.title}} <a [routerLink]="[route]" [fragment]="getShortTitle()" class="anchor glyphicon glyphicon-link"></a></h3>
<h4 *ngIf="depth==3" [id]="getShortTitle()" class="show-anchor">{{section.title}} <a [routerLink]="[route]" [fragment]="getShortTitle()" class="anchor glyphicon glyphicon-link"></a></h4>
<h5 *ngIf="depth==4" [id]="getShortTitle()" class="show-anchor">{{section.title}} <a [routerLink]="[route]" [fragment]="getShortTitle()" class="anchor glyphicon glyphicon-link"></a></h5>
<h6 *ngIf="depth>=5" [id]="getShortTitle()" class="show-anchor">{{section.title}} <a [routerLink]="[route]" [fragment]="getShortTitle()" class="anchor glyphicon glyphicon-link"></a></h6>

<div *ngIf="isDefined(section.description)">
    <div *ngIf="isString(section.description)">
        {{section.description}}
    </div>

    <div *ngIf="!isString(section.description) && isArray(section.description)">
        <div *ngFor="let element of section.description">
            <div *ngIf="isString(element)">{{element}}</div>
            <ul *ngIf="!isString(element) && isArray(element)">
                <li *ngFor="let sub of element">
                    <div *ngIf="isString(sub)">{{sub}}</div>
                    <ul *ngIf="!isString(sub) && isArray(sub)">
                        <li *ngFor="let str of sub">{{str}}</li>
                    </ul>
                </li>
            </ul>
            <div *ngIf="!isString(element) && !isArray(element) && isMedia(element)">TODO MEDIA TYPE</div>
        </div>
    </div>
</div>

<div *ngFor="let section of section.section">
    <dynamic-section [section]="section" [depth]="depth + 1"></dynamic-section>
</div>
