<h1>Documentation</h1>
<h2>Générateur de document à partir de Google Drive Spreadsheet</h2>
<p>Cet outil permet d'ouvrir un fichier sur Google Drive Spreadsheet, d'itérer dans le document pour extraire les données, valider le formatage du document et générer la base de donnée des
  documents.</p>

<!--<div *ngIf="!isInternalError">-->
<div *ngIf="editorInfo$ | async as editorInfo">
  <div>
    <button class="b-button" (click)="refreshInit()">Rafraîchir</button>
  </div>

  <div>
    Lien:
    <button *ngIf="!showUpdateBox" class="b-button" (click)="showUpdateBox = true;">Mettre à jour le lien</button>
    <input matInput *ngIf="showUpdateBox" [(ngModel)]="updateBoxLink"/>
    <button *ngIf="showUpdateBox" (click)="updateLink()">Confirmer</button>
  </div>

  <div>
    Date de la dernière sauvegarde locale : {{lastUpdateTime}}
  </div>

  <div *ngIf="editorInfo.fileURL">
    Lien vers le document: <a [href]="editorInfo.fileURL">{{editorInfo.fileURL}}</a>
  </div>
  <div *ngIf="!editorInfo.fileURL">
    Il n'y a aucun lien de configurer vers un document Google Drive Spreadsheet.
  </div>

  <div *ngIf="!editorInfo.hasAccessPerm; else elseHasNoAccessPerm">
    Le logiciel n'a pas les permissions nécessaires pour accéder au fichier. Donner les droits au courriel {{editorInfo.emailGoogleService}}<br/>
    Veuillez rafraichir la page une fois que l'invitation a été envoyée.
  </div>
  <ng-template #elseHasNoAccessPerm>
    <div *ngIf="!editorInfo.userHasWriterPerm">
      <a (click)="requestWritingPermissionCurrentUser()" class="btn btn-lg btn-danger" role="button">
        <!--    <span class="fa fa-spinner fa-spin" ng-show="model_editor.is_sharing_doc"></span>--> Recevoir les permissions d'écriture pour votre utilisateur par courriel.
      </a>
    </div>
  </ng-template>

  <p style="color:red;" *ngIf="error">
    {{ error.msg }}
    <span *ngIf="debug">{{ error.debug }}</span>
  </p>

  <a (click)="requestGenerateDoc()" class="btn btn-lg btn-success" role="button" [ngClass]="{'disabled':(!editorInfo.canGenerate || isGeneratingDoc)}">
    Générer le document
  </a>

</div>
