<mat-menu #appMenu="matMenu" yPosition="above">
  <button mat-menu-item *ngFor="let item of sectionMenuItems" (click)="item.command">{{item.label}}</button>
</mat-menu>

<span *ngFor="let item of sectionMenuItems">
  <mat-menu #{{item.label}}="matMenu" yPosition="above" *ngIf="!!item.items">
    <button mat-menu-item *ngFor="let subItem of item.items" (click)="subItem.command">{{subItem.label}}</button>
  </mat-menu>
</span>

<div *ngIf="countCharacters() > 1">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{selectedChar.name}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" *ngFor="let char of player.character" (click)="switchSelectedChar(char)">{{char.name}}</a>
    </div>
  </div>
</div>

<div class="character-navigation">
  <div *ngIf="countCharacters() >= 1">
    <button type="button" class="btn btn-secondary">
      {{selectedChar.name}}
    </button>
  </div>

  <div>Point d'XP {{getSpentXp()}}/{{getTotalXp()}}</div>
  <div>Points de Mérite {{countSpentMerite()}}/{{countTotalMerite()}}</div>
</div>

<character-header [character]="selectedChar" [playerMeriteDiff]="countTotalMerite() - countSpentMerite()" [passeSaison2018]="player?.passe_saison_2018"></character-header>
<router-outlet></router-outlet>
