<h1>Procédures d’entrée en-jeu 2018</h1>
<ul>
  <li>Prenez note qu’il n’y a pas de «speech de départ», celui-ci est remplacé par ce parchemin remis à chaque joueur lors de son inscription (aux Halls).</li>
  <li>
    Le terrain en ZONE 1(Zone de Jeu seulement) vous est accessible à partir de 15h, jusqu'à 21h (9h pm) pour installer votre campement et vos décorations de bâtiments.<br/>
    <span style="font-weight:bold;">Les flammes vives non protégées sont proscrites à l’intérieur des bâtiments.</span>
  </li>
  <li>
    À partir de 21h, les charrettes (voitures) ne seront plus autorisées sur le terrain et celui-ci sera considéré en-jeu dès 20h pour le plaisir de tous. Vous pouvez donc entrer en jeu
    librement à partir de 20h, être présent de façon roleplay entre vous (PvP).
  </li>
  <li>
    Le scénario et l’animation par notre équipe de BÉNÉVOLES exceptionnellement débuteront à partir de 22h00 (peu importe combien de joueurs sont présents ou qui est arrivé ou qui ne l’est
    pas.)
  </li>
  <li>
    L'Accueil pour le paiement ( maison de pierre) sera ouvert par le responsable de l’AdL (Atelier du Loisir)
  </li>
  <li>
    L’inscription de vos Xp / fiches de personnage se fera comme toujours aux Halls entre 18h et 22h00. Si vous avez des questions, l’animation se fera un plaisir de vous répondre durant
    cette période. (Après 22h30, l’accueil tardive se fera roleplay au poste de traite pour récupérer vos objets de jeu lorsque celui-ci est ouvert)
  </li>
</ul>
<h2>Notez ces quelques règles TRÈS IMPORTANTES</h2>
<ul>
  <li>
    Le BRUIT DE NUIT : Dès 23h, baissez le ton (surtout au hall et à Amunzrat)
  </li>
  <li>
    Veuillez ne PAS DÉPLACER les objets de décor/mobilier et d’éclairage (Les glowsticks et les torches sont des objets de décor ainsi que d’éclairage.)
  </li>
  <li>
    Les coffre cadenassés nécessitent des habiletés pour être ouverts. Prenez le temps de lire les cartons dessus. (TOUT COFFRE EST NON DÉPLAÇABLE)
  </li>
  <li>
    Le 2e étage de presque tous les bâtiments sont hors jeu. Il est donc interdit d’y fouiller ou d’y cacher des objets de jeu, bourse ou autre.
  </li>
  <li>
    <span style="font-weight:bold;">Notez que le poste de traite est réservé aux «NPC». il est interdit d’y entrer et interdit de le voler.</span>
  </li>
  <li>
    La nature n’étant pas un cendrier, veuillez vous ramasser, fumer près de ronds de feu et ne jamais fumer à l’intérieur des bâtiments.
  </li>
  <li>
    Les boissons alcoolisées en canettes sont permises à condition d’être servie de façon décorum (les bouteilles de vitres sont prohibées sur le jeu).
    <span style="font-weight:bold;">Si vos facultés sont trop affaiblies pour vous battre : soyez roleplay et couchez-vous achevés.</span>
  </li>
</ul>
<h3>Merci et Bon jeu, Traitre-Lame</h3>
