<h3 class="omb_authTitle"><b>Connexion</b> ou <a href="#" ng-click="show_login=false;" style="text-decoration: underline">Inscription</a></h3>
<div class="row omb_row-sm-offset-3 omb_socialButtons">
  <div class="col-xs-4 col-sm-2">
    <a href="/cmd/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
      <i class="fa fa-facebook visible-sm"></i>
      <span class="hidden-sm">Facebook</span>
    </a>
  </div>
  <div class="col-xs-4 col-sm-2">
    <a href="/cmd/auth/google" class="btn btn-lg btn-block omb_btn-google">
      <i class="fa fa-google-plus visible-sm"></i>
      <span class="hidden-sm">Google+</span>
    </a>
  </div>
  <div class="col-xs-4 col-sm-2">
    <a href="/cmd/auth/twitter" class="btn btn-lg btn-block omb_btn-twitter">
      <i class="fa fa-twitter visible-sm"></i>
      <span class="hidden-sm">Twitter</span>
    </a>
  </div>
</div>
