<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#menu_form">Formulaire</a></li>
  <!--  <li class="dropdown">-->
  <!--    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sommaire <span class="caret"></span></a>-->
  <!--    <ul class="dropdown-menu" role="menu">-->
  <!--      <li><a data-toggle="pill" href="#menu_attribut">Attribut</a></li>-->
  <!--      <li><a data-toggle="pill" href="#menu_skill">Habileté</a></li>-->
  <!--      <li><a data-toggle="pill" href="#menu_game_begin">Objet de départ</a></li>-->
  <!--      <li><a data-toggle="pill" href="#menu_marche">Marché</a></li>-->
  <!--      <li><a data-toggle="pill" href="#menu_merite">Mérite</a></li>-->
  <!--      <li><a data-toggle="pill" href="#menu_all_summary">Tous ces choix</a></li>-->
  <!--    </ul>-->
  <!--  </li>-->
  <li><a data-toggle="pill" href="#menu_print">Sommaire</a></li>
  <li><a data-toggle="pill" href="#menu_status">Statut</a></li>
</ul>