{% extends "_base.html" %}

{% block content %}
<div ng-controller="character_ctrl" class="row" ng-cloak>
  <div>
    <div class="bs-docs-sidebar col-xs-12 col-sm-3 hidden-print affix" role="complementary">

      Joueur
      <div ng-show="!new_player">
        <button class="btn btn-success" ng-click="newPlayer()"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user"></span> Nouveau joueur</button>
      </div>
      <div ng-show="new_player">
        <button class="btn btn-success" ng-click="onSubmit(my_form_char)"><span class="glyphicon glyphicon-floppy-save"></span> <span class="glyphicon glyphicon-user"></span>
          Enregistrer nouveau joueur
        </button>
        <button class="btn btn-danger" ng-click="discardPlayer()"><span class="glyphicon glyphicon-remove"></span> <span class="glyphicon glyphicon-user"></span> Annuler nouveau joueur</button>
      </div>
      <div class="list-group" ng-show="!new_player">
        Nb joueur : {{!ddb_user.length}}
        <select class="form-control" ng-model="player" ng-options="get_text_select_character(user) for user in ddb_user | orderBy:'name'" ng-change="setCharacterData(null)">
          <option value="">--Sélectionner un joueur--</option>
        </select>
        <a ng-click="refresh_page()" class="btn btn-lg btn-warning" role="button">Rafraîchir</a><br/>
        Appuyez avant de choisir une fiche.
        <!--<br/>-->
        <!--Vue de fiche:<br/>-->
        <!--<label>-->
        <!--<input type="radio" ng-model="sheet_view.mode" value="fiche_read"> Fiche en lecture-->
        <!--</label><br/>-->
        <!--<label>-->
        <!--<input type="radio" ng-model="sheet_view.mode" value="form_write"> Formulaire-->
        <!--</label><br/>-->
        <!--        <br/>-->
        <!--        <button class="btn btn-primary" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i>Imprimer</button>-->
      </div>
      {% include "../character_choose_sheet.html" %}
    </div>

    <div ng-show="player" role="main" class="col-xs-12 col-sm-9 pull-right">
      <div ng-show="sheet_view.mode == 'form_write'">
        {% include "../character_menu.html" %}

        <div class="tab-content" id="manual_main_content">
          <!-- Status -->
          <div id="menu_status" class="tab-pane fade">
            <h1>Statut de la fiche</h1>

            {% include "character_approbation.html" %}
            {% include "../character_status_sheet.html" %}
          </div>

          <!-- form -->
          <div id="menu_form" class="tab-pane fade in active">
            {% include "../character_form.html" %}
          </div>
          <!-- END form -->

          <!-- attribut -->
          <div id="menu_attribut" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "../character_attribut.html" %}
          </div>
          <!-- END attribut -->

          <!-- skill -->
          <div id="menu_skill" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "../character_skill.html" %}
          </div>
          <!-- END skill -->

          <!-- debut de jeu -->
          <div id="menu_game_begin" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "../character_begin_game.html" %}
          </div>
          <!-- END debut de jeu -->

          <!-- marche -->
          <!--          <div id="menu_marche" class="tab-pane fade">-->
          <!--            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>-->
          <!--            {% include "../character_marche.html" %}-->
          <!--          </div>-->
          <!-- END marche -->

          <!-- merite -->
          <!--          <div id="menu_merite" class="tab-pane fade">-->
          <!--            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>-->
          <!--            {% include "../character_merite.html" %}-->
          <!--          </div>-->
          <!-- END merite -->

          <!-- all_summary -->
          <div id="menu_all_summary" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "../character_attribut.html" %}
            {% include "../character_skill.html" %}
            {% include "../character_begin_game.html" %}
            <!--            {% include "../character_marche.html" %}-->
            <!--            {% include "../character_merite.html" %}-->
          </div>
          <!-- END all_summary -->

          <!-- message -->
          <div id="menu_message" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "../character_message.html" %}
          </div>
          <!-- END message -->

          <!-- Print -->
          <div id="menu_print" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "../character_sheet_status.html" %}
            {% include "../character_print.html" %}
            {% include "../character_attribut.html" %}
            {% include "../character_skill.html" %}
            {% include "../character_begin_game.html" %}
            <!--            {% include "../character_marche.html" %}-->
            <!--            {% include "../character_merite.html" %}-->
          </div>
          <!-- END Print -->

        </div>

        <div class="hidden-print">
          {% include "../character_debug_sheet.html" %}
        </div>
      </div> <!-- end div form write -->

    </div> <!-- end div if player -->
  </div> <!-- end of character_ctrl -->
</div>
{% end %}
