{% extends "_base.html" %}

{% block content %}

<div ng-controller="editor_ctrl" ng-cloak>
  <h1>Gestionnaire de documentation</h1>
  <h2>Générateur de documentation à partir de Google Drive Spreadsheet</h2>
  <div ng-hide="model_editor.is_ctrl_ready">
    <span class="fa fa-spinner fa-spin"></span> Téléchargement des informations.
  </div>
  <div ng-show="model_editor.is_ctrl_ready">
    Cet outil permet d'ouvrir un fichier sur Google Drive Spreadsheet, d'itérer dans le document pour extraire les données, valider le formatage du document et générer la base de donnée des documents.
    <hr/>
    <div ng-show="model_editor.module_state.has_error">
      <a style="color:red">
        {{! model_editor.module_state.error }}
      </a>
    </div>
    <div ng-hide="model_editor.module_state.has_error">
      <div>
        Mettre à jour le lien : <input type="text" ng-model="model_editor.update_file_url.url" placeholder="URL du fichier"/>
        <a ng-click="update_file_url()" class="btn btn-lg btn-success" ng-class="model_editor.is_updating_file_url ? 'disabled' : ''" role="button">
          <span class="fa fa-spinner fa-spin" ng-show="model_editor.is_updating_file_url"></span> Mise à jour du fichier.
        </a><br/>
        <a ng-show="model_editor.update_file_url.status.enabled" ng-style="model_editor.update_file_url.status.is_error ? {'color': 'red'} : {'color': 'green'}">
          {{! model_editor.update_file_url.status.text }}
        </a>
        <span ng-show="model_editor.info.string_last_local_doc_update && model_editor.update_file_url.status.enabled"><br/></span>
        <span ng-show="model_editor.info.string_last_local_doc_update"><a>Temps de la dernière sauvegarde locale : {{! model_editor.info.string_last_local_doc_update }}</a></span>
      </div>
      <div ng-hide="model_editor.info.file_url">
        <a style="color:yellow">Le lien du document est manquant.</a>
      </div>
      <div ng-show="model_editor.info.file_url">
        Lien du document : <a href="{{! model_editor.info.file_url }}" style="text-decoration: underline">{{! model_editor.info.file_url }}</a>
        <div ng-show="!model_editor.info.user_has_writer_perm && model_editor.info.has_access_perm">
          Vous n'avez pas les permissions d'écriture.
          <a ng-click="send_writing_permission()" class="btn btn-lg btn-danger" role="button">
            <span class="fa fa-spinner fa-spin" ng-show="model_editor.is_sharing_doc"></span> Recevoir les permissions d'écriture par courriel.
          </a>
        </div>
        <div ng-show="!model_editor.info.has_access_perm">
          <a style="color:red">
            Le logiciel n'a pas les permissions nécessaire pour accéder au fichier. Donner les droits au courriel {{! model_editor.info.email_google_service }}<br/>
            Veuillez rafraichir la page une fois que l'invitation a été envoyé.
          </a>
        </div>
        <hr/>
        <div ng-show="model_editor.info.can_generate">
          <a ng-click="generate_doc()" class="btn btn-lg btn-success" ng-class="model_editor.is_generating_doc ? 'disabled' : ''" role="button">
            <span class="fa fa-spinner fa-spin" ng-show="model_editor.is_generating_doc"></span> Générer le document.
          </a>
        </div>
      </div>
    </div>
  </div>
  <a ng-show="model_editor.generated_doc.status.enabled" ng-style="model_editor.generated_doc.status.is_error ? {'color': 'red'} : {'color': 'green'}">
    {{! model_editor.generated_doc.status.text }}
  </a>
</div>

{% end %}
