<div>
  <button class="btn btn-danger" ng-click="show_advance_admin_profil_permission=true" ng-hide="show_advance_admin_profil_permission">Montrer section avancé</button>
  <button class="btn btn-danger" ng-click="show_advance_admin_profil_permission=false" ng-show="show_advance_admin_profil_permission">Caché section avancé</button>
  <div ng-show="show_advance_admin_profil_permission">
    <div>
      <h3>Modifier le mot de passe</h3>
      <input type="password" ng-model="model_profile.add_password.password" placeholder="Mot de passe" required>
      <input type="password" ng-model="model_profile.add_password.check_password" placeholder="Confirmation du mot de passe" required>
      <a ng-click="modify_password()" class="btn btn-lg btn-default" role="button" ng-class="model_profile.add_password.loading ? 'disabled' : ''"><span class="fa fa-spinner fa-spin"
                                                                                                                                                         ng-show="model_profile.add_password.loading"></span>
        Modifier</a>
      <br/>
      <!-- Status of password -->
      <a ng-show="model_profile.status_password.enabled" ng-style="model_profile.status_password.is_error ? {'color': 'red'} : {'color': 'green'}">{{!model_profile.status_password.text }}</a>
    </div>

    <div>
      <h3>Modifier les permissions</h3>
      <select ng-model="model_user.permission" ng-options="perm for perm in lst_permission"></select>
    </div>

    <div>
      <h3>Effacer le joueur</h3>
      <button class="btn btn-danger" ng-click="deletePlayer()">Effacer le joueur</button>
      <br/>
      Danger, ceci est irréversible.
    </div>
  </div>
</div>
