<h1>Information pour le joueur</h1>
<h2>Approbation</h2>
<div>Status de validation de la fiche par le maître du jeu :
  <span style="color:cornflowerblue" *ngIf="isApprobationNew()">✪ nouveau</span>
  <span class="character-sheet-good" *ngIf="isApprobationApproved()">✓ approuvé</span>
  <span class="character-sheet-improve" *ngIf="isApprobationUnapproved()">✗ en attente</span>
  <span style="color:darkgray" *ngIf="isApprobationInactive()">✞ inactif</span>
  <span style="color:indianred" *ngIf="isApprobationToCorrect()">✐ à corriger</span>
</div>
<!--div>Date de changement du status : {{! character.approbation.date * 1000 | UTCToNow: true }}</div>

<h2>État de la fiche</h2>
<div>
  Date de création : {{! character.date_creation * 1000 | UTCToNow: true }}<br/>
  Date de mise à jour : {{! character.date_modify * 1000 | UTCToNow: true }}
</div-->

<div>
  <!-- Sheet status -->
  La fiche
  <span *ngIf="validationGreen()" class="character-sheet-good">est à jour</span>
  <span *ngIf="validationYellow()" class="character-sheet-improve">est à améliorer</span>
  <span *ngIf="validationRed()" class="character-sheet-bad">est à corriger</span>.
  <span *ngIf="xpDiff() < 0">Il y a
    <span class="character-sheet-bad">
      <span style="font-weight:bold;text-decoration: underline">{{ -(xpDiff()) }}</span> XP à enlever
    </span>.
  </span>
  <span *ngIf="xpDiff() > 0">Il y a
    <span class="character-sheet-improve">
      <span style="font-weight:bold;text-decoration: underline">{{ xpDiff() }}</span> XP à placer
    </span>.
  </span>
  <span *ngIf="meriteDiff() < 0">Il y a
    <span class="character-sheet-bad">
      <span style="font-weight:bold;text-decoration: underline">{{ -(meriteDiff()) }}</span> Mérite à enlever
    </span>.
  </span>
  <span *ngIf="meriteDiff() > 0">Il y a
    <span class="character-sheet-improve">
      <span style="font-weight:bold;text-decoration: underline">{{ meriteDiff() }}</span> Mérite en banque
    </span>.
  </span>
  <span *ngIf="ritualSchoolsDiff() < 0">Il y a
    <span class="character-sheet-bad">
      <span style="font-weight:bold;text-decoration: underline">{{ -(ritualSchoolsDiff()) }}</span> sous-école à enlever
    </span>.
  </span>
  <span *ngIf="ritualSchoolsDiff() > 0">Il y a
    <span class="character-sheet-improve">
      <span style="font-weight:bold;text-decoration: underline">{{ ritualSchoolsDiff() }}</span> sous-école à choisir
    </span>.
  </span>
  <span *ngIf="!character.name">
    <span class="character-sheet-bad">Nom du personnage est manquant</span>.
  </span>
  <span *ngIf="!character.faction">
    <span class="character-sheet-bad">Faction manquante</span>.
  </span>
  <span *ngIf="masterTechDiff() > 0">Il y a
    <span class="character-sheet-improve">
      <span style="font-weight:bold;text-decoration: underline">{{ masterTechDiff() }}</span> technique de maître à placer
    </span>.
  </span>
  <span *ngIf="masterTechDiff() < 0">Il y a
    <span class="character-sheet-bad">
      <span style="font-weight:bold;text-decoration: underline">{{ -masterTechDiff() }}</span> technique de maitre à enlever
    </span>.
  </span>
</div>
