<div *ngIf="!is_loaded">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="is_loaded">
  <h1 [innerHTML]="model_home.title"></h1>

  <p [innerHTML]="model_home.summary"></p>

  <div *ngIf="model_home.show_next_event">
    <h3>Prochain événement
      <fa-icon [icon]="['far', 'calendar-check']"></fa-icon>
    </h3>
    <p-accordion [multiple]="true">
      <p-accordionTab [selected]="next_event.selected">
        <p-header [innerHTML]="next_event.title"></p-header>
        <p>Type d'événement: <b [innerHTML]="next_event.event_type"></b></p>
        <p>Date: <b [innerHTML]="next_event.date"></b></p>
        <p *ngIf="model_home.activity.location.showed">
          Lieu: <b>
          <a href="{{model_home.activity.location.external_href}}">
            <u>
              {{model_home.activity.location.name}}
              <fa-icon icon="map-marker"></fa-icon>
              {{model_home.activity.location.address}}
            </u>
          </a>
        </b>
        </p>
        <p>Prix: <b>{{next_event.price.single}}{{next_event.price.currency}}</b></p>
        <p *ngIf="next_event.season_pass.showed">Passe de saison: <b [innerHTML]="next_event.season_pass.text"></b></p>
        <p *ngIf="next_event.facebook_event.showed">
          <a href="{{next_event.facebook_event.external_href}}">
            <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
            <u>
              Événement
              Facebook
              <fa-icon icon="link"></fa-icon>
            </u>
          </a>
        </p>
      </p-accordionTab>

      <p-accordionTab [selected]="next_event.description.selected">
        <p-header [innerHTML]="next_event.description.title"></p-header>
        <div [innerHTML]="next_event.description.text"></div>
      </p-accordionTab>

    </p-accordion>
  </div>

  <div *ngIf="model_home.activity.showed">
    <h1 [innerHTML]="model_home.activity.description.title"></h1>
    <div [innerHTML]="model_home.activity.description.text"></div>
  </div>

  <div *ngIf="model_home.date.showed">
    <h1 [innerHTML]="model_home.date.title"></h1>
    <ul>
      <li *ngFor="let date of model_home.date.dates" [ngStyle]="date.highlight && {'color':'#00FF00'}">{{date.date}}<span *ngIf="date.text_more_information">: {{date.text_more_information}}</span>
      </li>
    </ul>
  </div>

  <h1>Tarification</h1>
  <ul>
    <li style="list-style-type:disc">Billet: 30$</li>
    <li><span class="label label-success" style="white-space:normal">Passe saison (4 événements): 150$ <mat-icon [matBadge]="model_home.activity.stat.total_season_pass" matBadgePosition="above after">card_membership</mat-icon></span>
    <li style="list-style-type:disc">Accès aux dortoirs: <b>Dortoir non accessible pour la saison 2017</b></li>
  </ul>

  <div *ngIf="model_home.activity.location.showed">
    <h1>Localisation</h1>
    <p>
      Lieu: <b>
      <a href="{{model_home.activity.location.external_href}}">
        <u>
          {{model_home.activity.location.name}}
          <fa-icon icon="map-marker"></fa-icon>
          {{model_home.activity.location.address}}
        </u>
      </a>
    </b>
    </p>
    <p *ngIf="model_home.activity.location.text_more_information" [innerHTML]="model_home.activity.location.text_more_information"></p>
  </div>

  <div *ngIf="model_home.thanks.showed">
    <h1 [innerHTML]="model_home.thanks.description.title"></h1>
    <div [innerHTML]="model_home.thanks.description.text"></div>
    <div>
      <a href="https://github.com/AdminTL/gestion_personnage_TL/blob/master/README.fr.md">Plus d'information sur le développement du logiciel Larp'em.
        <fa-icon icon="link"></fa-icon>
      </a>
    </div>
  </div>

</div>
