<h1 [innerHTML]="home_info.title"></h1>
<p [innerHTML]="home_info.summary"></p>
<div *ngIf="home_info.show_next_event">
  <h3>Prochain événement
    <fa-icon [icon]="['far', 'calendar-check']"></fa-icon>
  </h3>
  <p-accordion [multiple]="true">
    <p-accordionTab [selected]="home_info.events[home_info.event.index].selected">
      <p-header [innerHTML]="home_info.events[home_info.event.index].title"></p-header>
      <p>Type d'événement: <b [innerHTML]="home_info.events[home_info.event.index].type"></b></p>
      <p>Date: <b [innerHTML]="home_info.events[home_info.event.index].date"></b></p>
      <p *ngIf="home_info.events[home_info.event.index].location.showed">
        Lieu: <b>
        <a href="{{home_info.events[home_info.event.index].location.href}}">
          <u>
            {{home_info.events[home_info.event.index].location.name}}
            <fa-icon icon="map-marker"></fa-icon>
            {{home_info.events[home_info.event.index].location.address}}
          </u>
        </a>
      </b>
      </p>
      <p>Prix: <b>{{home_info.events[home_info.event.index].price.single}}{{home_info.events[home_info.event.index].price.currency}}</b></p>
      <p *ngIf="home_info.events[home_info.event.index].season_pass.showed">Passe de saison: <b [innerHTML]="home_info.events[home_info.event.index].season_pass.html_text"></b></p>
      <p *ngIf="home_info.events[home_info.event.index].facebook_event.showed">
        <a href="{{home_info.events[home_info.event.index].facebook_event.href}}">
          <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
          <u>
            Événement
            Facebook
            <fa-icon icon="link"></fa-icon>
          </u>
        </a>
      </p>
      <p-accordion>
        <p-accordionTab [selected]="home_info.events[home_info.event.index].description.selected">
          <p-header [innerHTML]="home_info.events[home_info.event.index].description.title"></p-header>
          <div [innerHTML]="home_info.events[home_info.event.index].description.text"></div>
        </p-accordionTab>
      </p-accordion>
    </p-accordionTab>
  </p-accordion>
</div>
<div *ngIf="home_info.activity.showed">
  <h1 [innerHTML]="home_info.activity.description.title"></h1>
  <div [innerHTML]="home_info.activity.description.text"></div>
</div>
<!-- Panel right -->
<h1>Dates 2017</h1>
<ul>
  <li style="color:#00FF00">7 octobre: TL (Zone 1+2)</li>
</ul>
<h1>Tarifs 2017</h1>
<ul>
  <li style="list-style-type:disc">Billet: 30$</li>
  <li><span class="label label-success" style="white-space:normal">Passe saison (4 événements): 150$ <span class="badge">{{ totalSeasonPass }}</span></span>
  <li style="list-style-type:disc">Accès aux dortoirs: <b>Dortoir non accessible pour la saison 2017</b></li>
</ul>
<h1>Localisation</h1>
<ul>
  <li style="list-style-type:disc">
    <a href="https://goo.gl/maps/YpaQu3zk9Xy">
      <u>
        Au terrain <i class="fa fa-map"></i>
        1801 Chemin Béthanie, Béthanie (Québec), J0H 1E1, (450) 548-2720
      </u>
    </a>
  </li>
  <li style="list-style-type:disc">
    <a href="http://gn.qc.ca/atelier/directions/">
      <u>
        Pour plus d'information sur
        l'indication de la route.
      </u> <i class="fa fa-link"></i>
    </a>
  </li>
</ul>
<h1>Remerciement</h1>
Merci aux organisateur.trice.s et aux bévénoles.<br/>
Merci aux contributeur.trice.s du logiciel web.<br/>
Merci à <a href="http://www.calendriergn.ca"><u>www.calendriergn.ca</u> <i class="fa fa-link"></i></a> pour leur
projet de calendrier du GN au Québec.<br/>
<a href="https://github.com/AdminTL/gestion_personnage_TL/blob/master/README.fr.md">
  <u>
    Visitez ici pour plus
    d'information sur le développement du logiciel.
  </u> <i class="fa fa-link"></i>
</a><br/>
<h1>Dates 2017 de constructions sur le terrain</h1>
<ul>
  <li style="color:#00AA00">18-19 novembre</li>
  <li>9-10 décembre</li>
</ul>

<nav class="navbar navbar-inverse navbar-fixed-bottom linkbdp" style="background-color: black; text-align: center">
  <div class="container-fluid">
    <u><a href="https://www.facebook.com/groups/TraitreLame">Groupe Facebook</a></u> | 
    <u><a href="https://www.facebook.com/traitrelame/">Page Facebook</a></u> |
    <u><a href="http://gn.qc.ca/traitre-lame/">Atelier du Loisir</a></u> |
    <u><a href="https://github.com/AdminTL/gestion_personnage_TL">Code source du logiciel</a></u> |
    <u><a href="mailto:traitrelame@gmail.com">traitrelame@gmail.com</a></u>
  </div>
</nav>
