<div>
  <!--Nav Bar menu interactive follow scroll position -->
  <div class="col-xs-3 bs-docs-sidebar print-hide" *ngIf="!isMobile()">
    <!-- LEVEL 1 -->
    <ul id="sidebar" class="nav nav-stacked">
      <li *ngFor="let lore_sect_1 of lore">
        <div *ngIf="in_filter_edition || lore_sect_1.visible">
          <a target="_self" [href]="formatAnchor(lore_sect_1, null)"></a><!--[bind-html]="formatMenuNavHtml(lore_sect_1.title)">-->

          <!-- LEVEL 2 -->
          <ul class="nav nav-stacked">
            <li *ngFor="let lore_sect_2 of lore_sect_1.section">
              <div *ngIf="in_filter_edition || lore_sect_2.visible">
                <a target="_self" [href]="formatAnchor(lore_sect_2, [lore_sect_1])"></a><!--[bind-html]="lore_sect_2.title"-->
              </div>
            </li>
          </ul>
        </div>
      </li>
      <a class="nav nav-stacked" target="_self" href="#top"> Retour en haut </a>
      <button class="btn btn-primary" print-element-id="lore_main_content"> <!--[print]-->
        <i class="fa fa-print"></i>Imprimer</button>
      <br/>
      <br/>
      <a (click)="advance_option = !advance_option">Option avancée :
        <span *ngIf="advance_option" class="glyphicon glyphicon-triangle-bottom"></span>
        <span *ngIf="!advance_option" class="glyphicon glyphicon-triangle-right"></span>
      </a>
      <div *ngIf="advance_option">
        <button class="btn btn-primary" (click)="in_filter_edition=true;" *ngIf="!in_filter_edition">Créer filtre</button>
        <button class="btn btn-primary" (click)="in_filter_edition=false;" *ngIf="in_filter_edition">Filtre terminé</button>
        <br/>
        <button class="btn btn-primary" (click)="select_all(true)" *ngIf="in_filter_edition">Tous</button>
        <button class="btn btn-primary" (click)="select_all(false)" *ngIf="in_filter_edition">Aucun</button>
        <br/>
        <a [href]="! change_location_filter()">Ouvrir lien filtré</a>
      </div>
    </ul>
  </div>
  <!-- end nav content -->
</div>