<div>
  <!--Nav Bar menu interactive follow scroll position -->
  <div class="col-xs-3 bs-docs-sidebar print-hide" *ngIf="!isMobile()">
    <!-- LEVEL 1 -->
    <ul id="sidebar" class="nav nav-stacked">
      <li *ngFor="let lore_sect_1 of lore">
        <div *ngIf="in_filter_edition || lore_sect_1.visible">
          <a target="_self" [href]="formatAnchor(lore_sect_1, null)"></a><!--[bind-html]="formatMenuNavHtml(lore_sect_1.title)">-->

          <!-- LEVEL 2 -->
          <ul class="nav nav-stacked">
            <li *ngFor="let lore_sect_2 of lore_sect_1.section">
              <div *ngIf="in_filter_edition || lore_sect_2.visible">
                <a target="_self" [href]="formatAnchor(lore_sect_2, [lore_sect_1])"></a><!--[bind-html]="lore_sect_2.title"-->
              </div>
            </li>
          </ul>
        </div>
      </li>
      <a class="nav nav-stacked" target="_self" href="#top"> Retour en haut </a>
      <button class="btn btn-primary" print-element-id="lore_main_content"> <!--[print]-->
        <i class="fa fa-print"></i>Imprimer</button>
      <br/>
      <br/>
      <a (click)="advance_option = !advance_option">Option avancée :
        <span *ngIf="advance_option" class="glyphicon glyphicon-triangle-bottom"></span>
        <span *ngIf="!advance_option" class="glyphicon glyphicon-triangle-right"></span>
      </a>
      <div *ngIf="advance_option">
        <button class="btn btn-primary" (click)="in_filter_edition=true;" *ngIf="!in_filter_edition">Créer filtre</button>
        <button class="btn btn-primary" (click)="in_filter_edition=false;" *ngIf="in_filter_edition">Filtre terminé</button>
        <br/>
        <button class="btn btn-primary" (click)="select_all(true)" *ngIf="in_filter_edition">Tous</button>
        <button class="btn btn-primary" (click)="select_all(false)" *ngIf="in_filter_edition">Aucun</button>
        <br/>
        <a [href]="! change_location_filter()">Ouvrir lien filtré</a>
      </div>
    </ul>
  </div>
  <!-- end nav content -->
</div>

<!-- Main content -->
<div id="lore_main_content" class="col-sm-9" style="padding-bottom: 70px;">
  <span class="anchor" id="top"></span>
  <h1 class="tl" style="text-align: center">L'univers de Traître-Lame</h1>

  <!-- LEVEL 1 -->
  <div *ngFor="let lore_sect_1 of lore">
    <!-- This span class anchor only exist to help anchor with nav menu top fixed -->
    <span class="anchor" [id]="formatAnchor(lore_sect_1, null)"></span>

    <div *ngIf="in_filter_edition || lore_sect_1.visible" [ngClass]="'print-hide': !lore_sect_1.visible">
      <div>
        <input *ngIf="in_filter_edition" type="checkbox" [(ngModel)]="lore_sect_1.visible">
        <h1 style="display:inline">{{ getTitleHtml(lore_sect_1) }}</h1>
        <a target="_self" style="color: #C7C7C7" [todoHref]="formatAnchor(lore_sect_1, null)"><span
            class="glyphicon glyphicon-link print-hide"></span></a>
      </div>

      <p>{{ formatHtmlDescription(lore_sect_1.description) }}</p>
    </div>

    <!-- LEVEL 2 -->
    <div *ngFor="let lore_sect_2 of lore_sect_1.section">
      <span class="anchor" [id]="formatAnchor(lore_sect_2, [lore_sect_1])"></span>

      <div *ngIf="in_filter_edition || lore_sect_2.visible" [ngClass]="'print-hide': !lore_sect_1.visible">
        <div>
          <input *ngIf="in_filter_edition" type="checkbox" [(ngModel)]="lore_sect_2.visible">
          <h2 style="display:inline">{{ getTitleHtml(lore_sect_2) }}</h2>
          <a target="_self" style="color: #C7C7C7" [todoHref]="formatAnchor(lore_sect_2, [lore_sect_1])"><span
              class="glyphicon glyphicon-link print-hide"></span></a>
        </div>

        <p>{{ formatHtmlDescription(lore_sect_2.description) }}</p>
      </div>

      <!-- LEVEL 3 -->
      <div *ngFor="let lore_sect_3 of lore_sect_2.section">
        <span class="anchor" [id]="formatAnchor(lore_sect_3, [lore_sect_1, lore_sect_2])"></span>

        <div *ngIf="in_filter_edition || lore_sect_3.visible" [ngClass]="'print-hide': !lore_sect_1.visible">
          <div>
            <input *ngIf="in_filter_edition" type="checkbox" [(ngModel)]="lore_sect_3.visible">
            <h3 style="display:inline">{{ getTitleHtml(lore_sect_3) }}</h3>
            <a target="_self" style="color: #C7C7C7" [todoHref]="formatAnchor(lore_sect_3, [lore_sect_1, lore_sect_2])"><span
                class="glyphicon glyphicon-link print-hide"></span></a>
          </div>

          <p>{{ formatHtmlDescription(lore_sect_3.description) }}</p>
        </div>

        <!-- LEVEL 4 -->
        <div class="panel" *ngIf="in_filter_edition || lore_sect_4.visible" [ngClass]="[class_color_level(lore_sect_2), {'print-hide': !lore_sect_1.visible}]" *ngFor="let lore_sect_4 of lore_sect_3.section">
          <span class="anchor" id="{{! formatAnchor(lore_sect_4, [lore_sect_1, lore_sect_2, lore_sect_3]) }}"></span>

          <div class="panel-heading">
            <input *ngIf="in_filter_edition" type="checkbox" [(ngModel)]="lore_sect_4.visible">
            <h4 style="display:inline" class="panel-title">{{ getTitleHtml(lore_sect_4) }}</h4>
            <a target="_self" style="color: #C7C7C7" [todoHref]="formatAnchor(lore_sect_4, [lore_sect_1, lore_sect_2, lore_sect_3])"><span
                class="glyphicon glyphicon-link print-hide"></span></a>
          </div>

          <div class="panel-body">
            <p>{{ formatHtmlDescription(lore_sect_4.description) }}</p>

            <!-- LEVEL 5 -->
            <div class="panel panel-primary" *ngIf="in_filter_edition || lore_sect_5.visible" [ngClass]="{'print-hide': !lore_sect_1.visible}"
                 *ngFor="let lore_sect_5 of lore_sect_4.section">
              <span class="anchor" [id]="formatAnchor(lore_sect_5, [lore_sect_1, lore_sect_2, lore_sect_3, lore_sect_4])"></span>

              <div class="panel-heading">
                <input *ngIf="in_filter_edition" type="checkbox" [(ngModel)]="lore_sect_5.visible">
                <h5 style="display:inline" class="panel-title">{{ getTitleHtml(lore_sect_5) }}</h5>
                <a target="_self" style="color: #C7C7C7" [todoHref]="formatAnchor(lore_sect_5, [lore_sect_1, lore_sect_2, lore_sect_3, lore_sect_4])"><span
                    class="glyphicon glyphicon-link print-hide"></span></a>
              </div>

              <div class="panel-body">
                <p>{{ formatHtmlDescription(lore_sect_5.description) }}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end main content -->