<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top" role="directory">
    <!--<div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">-->
    <!--<div class="with-bg"></div>-->
    <!--<div>-->
    <!--<a>-->
    <!--&lt;!&ndash;<img class="circle" src="./assets/images/logo_fullsize.png" width="100">&ndash;&gt;-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div style="background-color: #3e50b5 !important;" class="mt-2 py-3 text-white" fxLayout="column" fxLayoutAlign="center center"-->
    <div style="background-color: #3e50b5 !important;" class="py-3 text-white" fxLayout="column" fxLayoutAlign="center center"
         fxLayoutGap="7px">
      <div>
        <span class="lead">{{organization_info.name}}</span>
      </div>
      <div>
        <span class="">{{organization_info.summary}}</span>
      </div>
    </div>
    <div class="mt-3">
      <ng-container *ngFor="let sub_menu of menu.sibling">

        <mat-nav-list *ngIf="sub_menu.children?.length == 0" [routerLink]="[sub_menu.router_link]">
          <mat-list-item class="ml-2" style="font-size:15px;">
            <mat-icon *ngIf="sub_menu.mat_icon" class="mr-1">{{sub_menu.mat_icon}}</mat-icon>
            <fa-icon *ngIf="sub_menu.fa_icon" [icon]="sub_menu.fa_icon" class="mr-1"></fa-icon>
            {{sub_menu.title}}
          </mat-list-item>
        </mat-nav-list>
      </ng-container>

      <mat-accordion *ngIf="menu.grouped_sibling?.length > 0" multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow" *ngFor="let sub_menu of menu.grouped_sibling">

          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <mat-panel-title>
              <mat-icon *ngIf="sub_menu.mat_icon" class="mr-1">description</mat-icon>
              <fa-icon *ngIf="sub_menu.fa_icon" [icon]="sub_menu.fa_icon" class="mr-1"></fa-icon>
              {{sub_menu.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="ml-0" dense *ngIf="sub_menu.children?.length > 0">
            <mat-list-item [routerLink]="[children.router_link]" *ngFor="let children of sub_menu.children">
              <mat-icon *ngIf="children.mat_icon" class="mr-1">{{children.mat_icon}}</mat-icon>
              <fa-icon *ngIf="children.fa_icon" [icon]="children.fa_icon" class="mr-1"></fa-icon>
              {{children.title}}
            </mat-list-item>
          </mat-nav-list>

        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">

      <button mat-button (click)="sidenav.toggle()" matTooltip="Menu de navigation" matTooltipPosition="right" aria-label="Boutton changer l'apparence du menu de navigation">
        <mat-icon>menu</mat-icon>
        <span *ngIf="sidenav.opened" class="mr-1" fxShow.lt-md="false" fxShow.gt-sm="true">Fermer menu</span>
        <span *ngIf="!sidenav.opened" class="mr-1" fxShow.lt-md="false" fxShow.gt-sm="true">Ouvrir menu</span>
      </button>

      <!--<span>-->
      <!--<button mat-button [routerLink]="['/home']" matTooltip="Accueil" matTooltipPosition="right" aria-label="Boutton pour se rendre à l'accueil">-->
      <!--<mat-icon class="mr-1">home</mat-icon>-->
      <!--<span class="mr-1" fxShow.lt-md="false" fxShow.gt-sm="true">Accueil</span>-->
      <!--</button>-->
      <!--</span>-->

      <span class="spacer"></span>

      <span>
        <button mat-button [matMenuTriggerFor]="menu_view" matTooltip="Vue" matTooltipPosition="right" aria-label="Boutton pour montrer les options de navigation sur vue">
          <mat-icon>remove_red_eye</mat-icon>
          <span fxShow.lt-md="false" fxShow.gt-sm="true">Vue</span>
        </button>
        <mat-menu #menu_view="matMenu" [overlapTrigger]="overlap">

          <button *ngIf="!is_fullscreen" mat-menu-item matTooltip="Plein écran" (click)="onScreenToggle()" matTooltipPosition="right" aria-label="Boutton pour mettre plein écran">
            <mat-icon>fullscreen</mat-icon>
            <span>Plein écran</span>
          </button>
          <button *ngIf="is_fullscreen" mat-menu-item matTooltip="Sortir du plein écran" (click)="onScreenToggle()" matTooltipPosition="right" aria-label="Boutton pour sortir du plein écran">
            <mat-icon>fullscreen_exit</mat-icon>
            <span>Écran normal</span>
          </button>
        </mat-menu>
      </span>

      <span *ngIf="currentUser">
        <button mat-button [matMenuTriggerFor]="menu_profile" matTooltip="Profil" matTooltipPosition="right" aria-label="Boutton pour montrer les options de navigation sur profil">
          <mat-icon>account_circle</mat-icon>
          <span class="mr-1" fxShow.lt-md="false" fxShow.gt-sm="true">{{currentUser.username}}</span>
        </button>
        <mat-menu #menu_profile="matMenu" [overlapTrigger]="overlap">
          <span class="mr-1" fxShow.lt-md="true" fxShow.gt-sm="false">
            {{currentUser.username}}
          </span>
          <button mat-menu-item matTooltip="Profil" matTooltipPosition="right" aria-label="Boutton pour se rendre son profil">
            <mat-icon>account_circle</mat-icon>
            <span>Mon profil</span>
          </button>
          <button mat-menu-item matTooltip="Paramètre" matTooltipPosition="right" aria-label="Boutton pour se rendre à ses paramètres">
            <mat-icon>settings</mat-icon>
            <span>Paramètre</span>
          </button>
          <!--<button mat-menu-item>-->
          <!--<mat-icon>money</mat-icon>-->
          <!--<span>Billing</span>-->
          <!--</button>-->
        </mat-menu>

        <button mat-button (click)="logout()" matTooltip="Déconnexion" matTooltipPosition="right" aria-label="Boutton pour se déconnecter">
          <fa-icon class="mr-1" icon="sign-out-alt"></fa-icon>
          <span class="mr-1" fxShow.lt-md="false" fxShow.gt-sm="true">Déconnexion</span>
        </button>

      </span>

      <span *ngIf="!currentUser">
        <button mat-button [routerLink]="['/login']" matTooltip="Connexion" matTooltipPosition="right" aria-label="Boutton pour se connecter">
          <fa-icon class="mr-1" icon="sign-in-alt"></fa-icon>
          <span class="mr-1" fxShow.lt-md="false" fxShow.gt-sm="true">Connexion</span>
        </button>
      </span>
    </mat-toolbar>
    <!--<div class="nav-container">-->
    <div>
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <!--<mat-toolbar color="primary" class="header-box-shadow" [ngClass]="{'nav-footer-full': !opened, 'nav-footer': opened}">-->
    <!--<u><a href="https://www.facebook.com/groups/TraitreLame">Groupe Facebook</a></u> | -->
    <!--<u><a href="https://www.facebook.com/traitrelame/">Page Facebook</a></u> |-->
    <!--<u><a href="http://gn.qc.ca/traitre-lame/">Atelier du Loisir</a></u> |-->
    <!--<u><a href="https://github.com/AdminTL/gestion_personnage_TL">Code source du logiciel</a></u> |-->
    <!--<u><a href="mailto:traitrelame@gmail.com">traitrelame@gmail.com</a></u>-->
    <!--</mat-toolbar>-->
  </mat-sidenav-content>
</mat-sidenav-container>
