<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top">
    <div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="with-bg"></div>
      <div>
        <a>
          <img class="circle" src="./assets/images/logo_fullsize.png" width="100">
        </a>
      </div>
    </div>
    <div style="background-color: #3e50b5 !important;" class="mt-2 py-3 text-white" fxLayout="column" fxLayoutAlign="center center"
         fxLayoutGap="7px">
      <div>
        <a [routerLink]="['/home']">
          <span class="lead">Traître-Lame</span>
        </a>
      </div>
      <div>
        <a>
          <span class="">Grandeur-Nature 18+ ans Médiévale Fantasmique</span>
        </a>
      </div>
    </div>
    <div class="mt-3">

      <mat-nav-list>
        <a mat-list-item class="ml-2" style="font-size:15px;" [routerLink]="['/home']">
          <mat-icon class="mr-1">home</mat-icon>
          Acceuil
        </a>
      </mat-nav-list>

      <mat-accordion multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <mat-panel-title>
              <mat-icon class="mr-1">description</mat-icon>
              Guide / Manuel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <mat-list-item>
              <a [routerLink]="['/manual']">
                <mat-icon class="mr-1">description</mat-icon>
                Manuel du joueur</a>
              <!-- <button mat-icon-button class="mr-3">
              <mat-icon>info</mat-icon>
            </button> -->
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/lore']">
                <mat-icon class="mr-1">description</mat-icon>
                Univers</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="no-shadow my-0">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <mat-panel-title>
              <mat-icon class="mr-1">face</mat-icon>
              Personnage
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <mat-list-item>
              <a [routerLink]="['/character']">
                <mat-icon class="mr-1">face</mat-icon>
                Personnage</a>
              <!-- <button mat-icon-button class="mr-3">
                <mat-icon>info</mat-icon>
              </button> -->
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="no-shadow my-0">
          <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <mat-panel-title>
              <mat-icon class="mr-1">spa</mat-icon>
              Admin
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <mat-list-item>
              <a [routerLink]="['/character']">
                <mat-icon class="mr-1">face</mat-icon>
                Personnage</a>
              <!-- <button mat-icon-button class="mr-3">
                <mat-icon>info</mat-icon>
              </button> -->
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/manual']">
                <mat-icon class="mr-1">description</mat-icon>
                Manuel admin</a>
            </mat-list-item>
            <mat-list-item>
              <a href="#">
                <mat-icon class="mr-1">work</mat-icon>
                Éditeur</a>
            </mat-list-item>
            <mat-list-item>
              <a href="#">
                <mat-icon class="mr-1">settings</mat-icon>
                Paramètre</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!--<mat-nav-list>-->
      <!--<a mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">-->
      <!--Cacher le menu <mat-icon>close</mat-icon>-->
      <!--</a>-->
      <!--</mat-nav-list>-->

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow.sm="true" fxShow.gt-sm="true">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button>
        <mat-icon class="mr-1">home</mat-icon>
        Acceuil
      </button>
      <span fxShow.lt-md="false" fxShow.gt-sm="true">
        <button mat-button>
          <mat-icon class="mr-1">link</mat-icon>
          Link</button>
        <button mat-button>
          <mat-icon class="mr-1">link</mat-icon>
          Link</button>
        <button mat-button [matMenuTriggerFor]="dropDown">
          DropDown
          <mat-icon class="ml-1">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dropDown="matMenu" overlapTrigger="false">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Dropdown Link 1</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Dropdown Link 2</span>
          </button>
        </mat-menu>
      </span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
        <mat-icon>account_circle</mat-icon>
        <span class="ml-2">Account</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" fxShow.lt-md="true" fxShow.gt-sm="false">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>money</mat-icon>
          <span>Billing</span>
        </button>
      </mat-menu>
      <mat-icon class="ml-3" title="Logout">exit_to_app</mat-icon>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
