<mat-sidenav-container class="container-fluid" style="height:100vh;">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top" role="navigation">
    <!--<div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">-->
    <!--<div class="with-bg"></div>-->
    <!--<div>-->
    <!--<a>-->
    <!--&lt;!&ndash;<img class="circle" src="./assets/images/logo_fullsize.png" width="100">&ndash;&gt;-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div style="background-color: #3e50b5 !important;" class="mt-2 py-3 text-white" fxLayout="column" fxLayoutAlign="center center"-->
    <div class="mat-toolbar mat-primary" fxLayout="column" fxLayoutAlign="center center"
         fxLayoutGap="7px" *ngIf="modelOrganization">
      <span class="lead">{{modelOrganization.name}}</span>
      <span class="" [innerHtml]="modelOrganization.summary"></span>
    </div>
    <div *ngIf="modelMenu && modelMenu.sibling">
      <ng-container *ngFor="let sub_menu of modelMenu.sibling">

        <mat-nav-list style="padding: 0 8px;" *ngIf="!sub_menu.children" [routerLink]="sub_menu.routerLink_param ? [sub_menu.routerLink, sub_menu.routerLink_param] : [sub_menu.routerLink]">
          <mat-list-item>
            <mat-icon *ngIf="sub_menu.matIcon">{{sub_menu.matIcon}}</mat-icon>
            <fa-icon class="mat-icon material-icons" *ngIf="sub_menu.faIcon" [icon]="sub_menu.faIcon"></fa-icon>
            <span class="pl-2">{{sub_menu.title}}</span>
          </mat-list-item>
        </mat-nav-list>
      </ng-container>

      <mat-accordion *ngIf="modelMenu.grouped_sibling?.length > 0" multi="true" [displayMode]="displayMode">
        <ng-container *ngFor="let sub_menu of modelMenu.grouped_sibling">
          <mat-expansion-panel class="no-shadow" *ngIf="!sub_menu.requiredAdminPermission || (currentUser && currentUser.permission.isAdmin)">

            <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
              <mat-panel-title>
                <mat-icon *ngIf="sub_menu.matIcon">description</mat-icon>
                <fa-icon class="mat-icon material-icons" *ngIf="sub_menu.faIcon" [icon]="sub_menu.faIcon"></fa-icon>
                <span class="pl-2" [routerLink]="sub_menu.routerLink_param ? [sub_menu.routerLink, sub_menu.routerLink_param] : [sub_menu.routerLink]">{{sub_menu.title}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list dense *ngIf="sub_menu.children?.length > 0">
              <mat-list-item [routerLink]="children.routerLink_param ? [children.routerLink, children.routerLink_param] : [children.routerLink]" *ngFor="let children of sub_menu.children">
                <mat-icon *ngIf="children.matIcon">{{children.matIcon}}</mat-icon>
                <fa-icon class="mat-icon material-icons" *ngIf="children.faIcon" [icon]="children.faIcon"></fa-icon>
                <span class="pl-2">{{children.title}}</span>
              </mat-list-item>
            </mat-nav-list>

          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">

      <button mat-button (click)="sidenav.toggle()" matTooltip="Menu de navigation" matTooltipPosition="right" aria-label="Boutton changer l'apparence du menu de navigation">
        <mat-icon>menu</mat-icon>
        <span *ngIf="sidenav.opened" fxShow.lt-md="false" fxShow.gt-sm="true">Fermer menu</span>
        <span *ngIf="!sidenav.opened" fxShow.lt-md="false" fxShow.gt-sm="true">Ouvrir menu</span>
      </button>

      <!--<span>-->
      <!--<button mat-button [routerLink]="['/home']" matTooltip="Accueil" matTooltipPosition="right" aria-label="Boutton pour se rendre à l'accueil">-->
      <!--<mat-icon>home</mat-icon>-->
      <!--<span fxShow.lt-md="false" fxShow.gt-sm="true">Accueil</span>-->
      <!--</button>-->
      <!--</span>-->

      <span class="spacer"></span>

      <span>
        <button mat-button [matMenuTriggerFor]="menu_view" matTooltip="Vue" matTooltipPosition="right" aria-label="Boutton pour montrer les options de navigation sur vue">
          <mat-icon>remove_red_eye</mat-icon>
          <span fxShow.lt-md="false" fxShow.gt-sm="true">Vue</span>
        </button>
        <mat-menu #menu_view="matMenu" [overlapTrigger]="overlap">

          <button *ngIf="!isFullscreen" mat-menu-item matTooltip="Plein écran" (click)="onScreenToggle()" matTooltipPosition="right" aria-label="Boutton pour mettre plein écran">
            <mat-icon>fullscreen</mat-icon>
            <span>Plein écran</span>
          </button>
          <button *ngIf="isFullscreen" mat-menu-item matTooltip="Sortir du plein écran" (click)="onScreenToggle()" matTooltipPosition="right" aria-label="Boutton pour sortir du plein écran">
            <mat-icon>fullscreen_exit</mat-icon>
            <span>Écran normal</span>
          </button>
        </mat-menu>
      </span>

      <span *ngIf="currentUser">
        <button mat-button [matMenuTriggerFor]="menu_profile" matTooltip="Profil" matTooltipPosition="right" aria-label="Boutton pour montrer les options de navigation sur profil">
          <mat-icon>account_circle</mat-icon>
          <span fxShow.lt-md="false" fxShow.gt-sm="true">{{currentUser.username}}</span>
        </button>
        <mat-menu #menu_profile="matMenu" [overlapTrigger]="overlap">
          <span fxShow.lt-md="true" fxShow.gt-sm="false">
            {{currentUser.username}}
          </span>
          <button mat-menu-item [routerLink]="['/user/profile']" matTooltip="Profil" matTooltipPosition="right" aria-label="Boutton pour se rendre son profil">
            <mat-icon>account_circle</mat-icon>
            <span>Mon profil</span>
          </button>
          <button mat-menu-item [routerLink]="['/user/setting']" matTooltip="Paramètre" matTooltipPosition="right" aria-label="Boutton pour se rendre à ses paramètres">
            <mat-icon>settings</mat-icon>
            <span>Paramètre</span>
          </button>
          <button mat-menu-item (click)="logout()" matTooltip="Déconnexion" matTooltipPosition="right" aria-label="Boutton pour se déconnecter">
            <fa-icon class="mat-icon material-icons" class="mat-icon material-icons" icon="sign-out-alt"></fa-icon>
            <span>Déconnexion</span>
          </button>
          <!--<button mat-menu-item>-->
          <!--<mat-icon>money</mat-icon>-->
          <!--<span>Billing</span>-->
          <!--</button>-->
        </mat-menu>
      </span>

      <span *ngIf="!currentUser">
        <button mat-button [routerLink]="['/login']" matTooltip="Connexion" matTooltipPosition="right" aria-label="Boutton pour se connecter">
          <fa-icon class="mat-icon material-icons" icon="sign-in-alt"></fa-icon>
          <span fxShow.lt-md="false" fxShow.gt-sm="true">Connexion</span>
        </button>
      </span>
    </mat-toolbar>
    <div class="p-3">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <!--<mat-toolbar color="primary" class="header-box-shadow" [ngClass]="{'nav-footer-full': !opened, 'nav-footer': opened}">-->
    <!--<u><a href="https://www.facebook.com/groups/TraitreLame">Groupe Facebook</a></u> | -->
    <!--<u><a href="https://www.facebook.com/traitrelame/">Page Facebook</a></u> |-->
    <!--<u><a href="http://gn.qc.ca/traitre-lame/">Atelier du Loisir</a></u> |-->
    <!--<u><a href="https://github.com/AdminTL/gestion_personnage_TL">Code source du logiciel</a></u> |-->
    <!--<u><a href="mailto:traitrelame@gmail.com">traitrelame@gmail.com</a></u>-->
    <!--</mat-toolbar>-->
  </mat-sidenav-content>
</mat-sidenav-container>
