<!-- Load only one title depending on depth -->
<h1 *ngIf="depth==0">{{formSection.title}}</h1>
<h2 *ngIf="depth==1">{{formSection.title}}</h2>
<h3 *ngIf="depth==2">{{formSection.title}}</h3>
<h4 *ngIf="depth==3">{{formSection.title}}</h4>
<h5 *ngIf="depth==4">{{formSection.title}}</h5>
<h6 *ngIf="depth==5">{{formSection.title}}</h6>
<div *ngIf="isDefined(formSection.description)">{{formSection.description}}</div>

<div *ngFor="let field of formSection.fields" class="field">
  <mat-form-field appearance="standard" *ngIf="field.type !== 'Button' && field.type !== 'Section'">
    <mat-label>{{field.title}}</mat-label>
    <input *ngIf="field.type === 'Input'" matInput />
    <textarea *ngIf="field.type === 'Textbox'" [rows]="field.lines" autoResize="autoResize" matInput></textarea>
    <mat-select *ngIf="field.type === 'Dropdown'">
      <mat-option *ngFor='let option of field.options' [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
    <mat-hint *ngIf="isDefined(field.hint)">{{field.hint}}</mat-hint>
  </mat-form-field>
  <div *ngIf="field.type === 'Button'">
    <button mat-button type="button" label="Click" (click)="handleClick($event)" [matTooltip]="field.hint"></button>
  </div>
  <div *ngIf="field.type === 'Section'">
    <dynamic-section [section]="section" [depth]="depth + 1"></dynamic-section>
  </div>
  <div *ngIf="field.type !== 'section'">{{field.description}}</div>
</div>