<!-- Load only one title depending on depth -->
<h1 *ngIf="depth==0" class="cfs-tooltip">
  <span *ngIf="isDefined(formSection.hint)" class="tooltipText">{{formSection.hint}}</span>
  {{formSection.title}}
</h1>
<h2 *ngIf="depth==1" class="cfs-tooltip">
  <span *ngIf="isDefined(formSection.hint)" class="tooltipText">{{formSection.hint}}</span>
  {{formSection.title}}
</h2>
<h3 *ngIf="depth==2" class="cfs-tooltip">
  <span *ngIf="isDefined(formSection.hint)" class="tooltipText">{{formSection.hint}}</span>
  {{formSection.title}}
</h3>
<h4 *ngIf="depth==3" class="cfs-tooltip">
  <span *ngIf="isDefined(formSection.hint)" class="tooltipText">{{formSection.hint}}</span>
  {{formSection.title}}
</h4>
<h5 *ngIf="depth==4" class="cfs-tooltip">
  <span *ngIf="isDefined(formSection.hint)" class="tooltipText">{{formSection.hint}}</span>
  {{formSection.title}}
</h5>
<h6 *ngIf="depth==5" class="cfs-tooltip">
  <span *ngIf="isDefined(formSection.hint)" class="tooltipText">{{formSection.hint}}</span>
  {{formSection.title}}
</h6>

<div *ngIf="isDefined(formSection.description)">{{formSection.description}}</div>

<div *ngFor="let field of formSection.fields">
  <div *ngIf="field.type !== 'Section' && field.type !== 'Input'">{{field.title}}</div>
  <div *ngIf="field.type === 'Input'">
    <span>{{field.title}}</span>
    <span class="ui-float-label character-form-label cfs-tooltip">
      <span *ngIf="isDefined(field.hint)" class="tooltipText">{{field.hint}}</span>
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">{{field.hint}}</label>
    </span>
  </div>
  <div *ngIf="field.type === 'Textbox'" class="cfs-tooltip">
    <span *ngIf="isDefined(field.hint)" class="tooltipText">{{field.hint}}</span>
    <textarea [rows]="field.lines" pInputTextarea autoResize="autoResize"></textarea>
  </div>
  <div *ngIf="field.type === 'Dropdown'" class="cfs-tooltip">
    <span *ngIf="isDefined(field.hint)" class="tooltipText">{{field.hint}}</span>
    <p-dropdown [options]="field.options" [(ngModel)]="selection"></p-dropdown>
  </div>
  <div *ngIf="field.type === 'MultiselectDropdown'" class="cfs-tooltip">
    <span *ngIf="isDefined(field.hint)" class="tooltipText">{{field.hint}}</span>
    <p-multiSelect [options]="field.options" [(ngModel)]="selection"></p-multiSelect>
  </div>
  <div *ngIf="field.type === 'Button'" class="cfs-tooltip">
    <span *ngIf="isDefined(field.hint)" class="tooltipText">{{field.hint}}</span>
    <button pButton type="button" label="Click" (click)="handleClick($event)"></button>
  </div>
  <div *ngIf="field.type === 'Section'">
    <dynamic-section [section]="section" [depth]="depth + 1"></dynamic-section>
  </div>
  <div *ngIf="field.type !== 'section'">{{field.description}}</div>
</div>

