<!-- Load only one title depending on depth -->
<h1 *ngIf="depth==0">{{formSection.title}}</h1>
<h2 *ngIf="depth==1">{{formSection.title}}</h2>
<h3 *ngIf="depth==2">{{formSection.title}}</h3>
<h4 *ngIf="depth==3">{{formSection.title}}</h4>
<h5 *ngIf="depth==4">{{formSection.title}}</h5>
<h6 *ngIf="depth==5">{{formSection.title}}</h6>
<div *ngIf="isDefined(formSection.description)">{{formSection.description}}</div>

<div *ngFor="let field of formSection.fields" class="field">
  <!-- This does not work for now, bug in angular material. It throws an ExpressionChangedAfterItHasBeenCheckedError
    https://github.com/angular/material2/issues/7737
    Thus, we have to repeat some code instead.
  <mat-form-field appearance="standard" *ngIf="field.type !== 'Button' && field.type !== 'Section'">
    <mat-label>{{field.title}}</mat-label>
    <input *ngIf="field.type === 'Input'" matInput />
    <textarea *ngIf="field.type === 'Textbox'" [rows]="field.lines" autoResize="autoResize" matInput></textarea>
    <mat-select *ngIf="field.type === 'Dropdown'" [multiple]="field.multiSelect">
      <mat-option *ngFor='let option of field.options' [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
    <mat-hint *ngIf="isDefined(field.hint)">{{field.hint}}</mat-hint>
  </mat-form-field> 
-->
  <mat-form-field *ngIf="field.type === 'Input'" appearance="standard">
    <mat-label>{{field.title}}</mat-label>
    <input matInput [(ngModel)]="characterContainer.character[field.bind]"/>
    <mat-hint *ngIf="isDefined(field.hint)">{{field.hint}}</mat-hint>
  </mat-form-field> 
  <mat-form-field *ngIf="field.type === 'Textbox'" appearance="standard">
    <mat-label>{{field.title}}</mat-label>
    <textarea [rows]="field.lines" autoResize="autoResize" matInput [(ngModel)]="characterContainer.character[field.bind]"></textarea>
    <mat-hint *ngIf="isDefined(field.hint)">{{field.hint}}</mat-hint>
  </mat-form-field> 
  <mat-form-field *ngIf="field.type === 'Dropdown'" appearance="standard">
    <mat-label>{{field.title}}</mat-label>
    <mat-select [multiple]="field.multiSelect" [(ngModel)]="characterContainer.character[field.bind]">
      <mat-option *ngFor='let option of field.options' [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
    <mat-hint *ngIf="isDefined(field.hint)">{{field.hint}}</mat-hint>
  </mat-form-field> 
  <div *ngIf="field.type === 'Button'">
    <button mat-raised-button color="primary" type="button" label="Click" (click)="handleClick(field)" [matTooltip]="field.hint">{{field.title}}</button>
  </div>
  <div *ngIf="field.type === 'Section'">
    <character-form-section [formSection]="section" [depth]="depth + 1" [characterContainer]="characterContainer"></character-form-section>
  </div>
  <div *ngIf="field.type !== 'section'">{{field.description}}</div>
</div>