<!DOCTYPE html>
<html data-ng-app="creation_personnage_TL">
<head>
  <link rel="icon" type="image/png" href="{{ static_url('resources/icon/favicon.ico') }}"/>
  <title>Logiciel Traitre-Lame</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap core CSS -->
  <!-- Bootstrap theme -->
  {% if use_internet_static %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
  {% else %}
  <link href="{{ static_url('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ static_url('bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
  {% end %}
  <!-- Custom style -->
  <link href="{{ static_url('resources/css/_base.css') }}" rel="stylesheet">
  <link href="{{ static_url('resources/css/_base_dark.css') }}" rel="stylesheet">
</head>
<body ng-controller="page_ctrl">

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:#FF4E00;">Traitre-Lame</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Nouvelle</a></li>
        {% if current_user and current_user.is_admin() %}
        <li><a href="admin">Admin</a></li>
        {% end %}
        {% if not current_user %}
        <li><a href="login">Login</a></li>
        {% else %}
        <li><a style="color:#2864E6;" href="#" ua-logout>Log out</a></li>
        {% end %}
        <li><a href="character">Personnage</a></li>
      </ul>
    </div>
  </div>
</div>

<noscript>
  <h1 class="detect_javascript_enable">
    <span class="label label-danger">
        For a good support, your browser need to support Javascript and html5.
    </span>
  </h1>
</noscript>

{% block container %}
<div class="container theme-showcase">
  <div class="row">
    {% block content %}{% end %}
  </div>
</div>
{% end %}

{% if use_internet_static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://raw.githubusercontent.com/geraintluff/tv4/master/tv4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-1.2.2.min.js"></script>
<script src="http://cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
<script src="https://raw.githubusercontent.com/mike-marcacci/objectpath/master/lib/ObjectPath.js"></script>
<script src="https://raw.githubusercontent.com/json-schema-form/angular-schema-form/development/dist/schema-form.min.js"></script>
<script src="https://raw.githubusercontent.com/json-schema-form/angular-schema-form-bootstrap/develop/bootstrap-decorator.min.js"></script>
<script src="https://app.userapp.io/js/userapp.client.js"></script>
<script src="https://app.userapp.io/js/angularjs.userapp.js"></script>
{% elif debug %}
<script src="{{ static_url('bower_components/jquery/dist/jquery.js') }}"></script>
<script src="{{ static_url('bower_components/tv4/tv4.js') }}"></script>
<script src="{{ static_url('bower_components/angular/angular.js') }}"></script>
<script src="{{ static_url('bower_components/angular-sanitize/angular-sanitize.min.js') }}"></script>
<script src="{{ static_url('bower_components/angular-strap/dist/angular-strap.min.js') }}"></script>
<script src="{{ static_url('bower_components/angular-strap/dist/angular-strap.tpl.min.js') }}"></script>
<script src="{{ static_url('bower_components/angular-route/angular-route.js') }}"></script>
<script src="{{ static_url('bower_components/angular-bootstrap/ui-bootstrap.js') }}"></script>
<script src="{{ static_url('bower_components/sockjs/sockjs.js') }}"></script>
<script src="{{ static_url('bower_components/userapp/userapp.client.js') }}"></script>
<script src="{{ static_url('bower_components/userapp-angular/angularjs.userapp.js') }}"></script>
<script src="{{ static_url('bower_components/objectpath/lib/ObjectPath.js') }}"></script>
<script src="{{ static_url('bower_components/angular-schema-form/dist/schema-form.js') }}"></script>
<script src="{{ static_url('bower_components/angular-schema-form/dist/bootstrap-decorator.js') }}"></script>
<script src="{{ static_url('bower_components/angular-schema-form-dynamic-select/angular-schema-form-dynamic-select.js') }}"></script>
{% else %}
<script src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ static_url('bower_components/tv4/tv4.js') }}"></script>
<script src="{{ static_url('bower_components/angular/angular.min.js') }}"></script>
<script src="{{ static_url('bower_components/angular-route/angular-route.min.js') }}"></script>
<script src="{{ static_url('bower_components/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
<script src="{{ static_url('bower_components/objectpath/lib/ObjectPath.js') }}"></script>
<script src="{{ static_url('bower_components/angular-schema-form/dist/schema-form.min.js') }}"></script>
<script src="{{ static_url('bower_components/angular-schema-form/dist/bootstrap-decorator.min.js') }}"></script>
<script src="{{ static_url('bower_components/sockjs/sockjs.min.js') }}"></script>
<script src="{{ static_url('bower_components/userapp/userapp.client.js') }}"></script>
<script src="{{ static_url('bower_components/userapp-angular/angularjs.userapp.js') }}"></script>
{% end %}
<script src="{{ static_url('resources/js/tool.js') }}"></script>
<script src="{{ static_url('resources/js/tl_module/tl_module.js') }}"></script>

<!-- add controller -->
<script src="{{ static_url('resources/js/tl_module/character_ctrl/schema.js') }}"></script>
<script src="{{ static_url('resources/js/tl_module/character_ctrl/ctrl.js') }}"></script>
<script src="{{ static_url('resources/js/tl_module/login_ctrl/ctrl.js') }}"></script>
<script src="{{ static_url('resources/js/tl_module/news_ctrl/ctrl.js') }}"></script>
<script src="{{ static_url('resources/js/tl_module/page_ctrl/ctrl.js') }}"></script>

</body>
</html>
