<h1>Joueur</h1>
<p>
<div ng-repeat="value in schema_user_print | orderBy: 'ImpressionIndex'" ng-if="isDefined(value.ImpressionIndex) && model_user[value.key] && value.type != 'array'">
  {{!value.title}}: {{!model_user[value.key]}}
</div>
</p>
<h1>Personnage</h1>
<p>
<div ng-repeat="value in schema_char_print | orderBy: 'ImpressionIndex'" ng-if="isDefined(value.ImpressionIndex) && model_char[value.key] && value.type != 'array'">
  <b ng-show="isDefined(value.title)">{{!value.title}}:</b>
  <b ng-show="!isDefined(value.title) && isDefined(value.key)">{{!value.key}}:</b>
  <span ng-show="model_char[value.key].indexOf('\n') > -1">
      <blockquote style="white-space: pre;font-size: 14px;">
        {{!model_char[value.key]}}
      </blockquote>
    </span>
  <span ng-hide="model_char[value.key].indexOf('\n') > -1">
    <span style="font-weight:bold;color:cornflowerblue" ng-show="isNumber(model_char[value.key])">
      {{!model_char[value.key]}}
    </span>
    <span ng-hide="isNumber(model_char[value.key])">
      {{!model_char[value.key]}}
    </span>
    </span>
</div>
</p>