<h1>Objet de début de jeu</h1>
<h2>Objet de base</h2>

<span ng-hide="char_has_ress" style="font-weight:bold;">Aucun</span>

<ol ng-show="char_has_ress">
  <li ng-repeat="(key, value) in char_point_ress" ng-show="!value.invisible && ((isDefined(value.formule) && value.formule_result > 0) || (!isDefined(value.formule) && value.value > 0))">
    <span ng-hide="isDefined(value.formule)">
    <span class="neutral_color_bold">{{!value.value }}</span> {{!transform_plural(value.value, value.description)}}
    </span>
    <span ng-show="isDefined(value.formule)">
      <span class="neutral_color_bold">{{!value.formule_result }}</span> {{!transform_plural(value.formule_result, value.description)}}
    </span>
  </li>
</ol>
<br/>

<!--<div ng-show="model_char.objet_debut_jeu">-->
<!--  <h2>Objet personnalisé</h2>-->
<!--  <span style="white-space: pre;">{{!model_char.objet_debut_jeu }}</span>-->
<!--</div>-->
