<h1>Procédures d’entrée en-jeu 2021</h1>
<ul>
  <li>Prenez note qu’il n’y a pas de «speech de départ». Celui-ci est remplacé par ce parchemin/document remis à chacun lors de son inscription ou de préinscription, disponible dans la section
    «message important» de votre fiche de personnage.
  </li>
  <li>
    L'accueil (situé à la maison de pierres à l’entrée du terrain), pour le paiement à la porte et la signature <span style="font-weight:bold;">OBLIGATOIRE</span> du registre d’inscriptions/décharges
    contre les accidents/registre de
    Covid-19 exigé par la santé publique, sera ouvert par le responsable de Médiévalys (l’AdL : Atelier du Loisir). Cette ouverture est hors du contrôle de Traitre-Lame et est faite selon leur propre
    disponibilité, normalement vers 18h.
  </li>
  <li>
    L’inscription (XP/fiche de personnage/récolte de vos biens) se fait au poste de traite (dernière maisonnette du village, face à la grande plaine) entre 19h et 22h.
    <br/>
    Nous vous rappelons d'arriver à l'inscription en ayant votre bracelet de paiement déjà au poignet, costumé avec vos armes en main de façon roleplay et en ayant préalablement fait votre fiche de
    personnage en ligne (minimum 48h avant le jeu) sur www.traitrelame.ca.
    Merci de votre coopération pour améliorer la rapidité de l'inscription.
    <br/>
    Si vous avez des questions, l’animation se fera un plaisir de vous répondre durant cette période. Après 22h, l’accueil tardif se fera toujours de façon roleplay au poste de traite pour récupérer
    vos objets de jeu lorsque celui-ci est ouvert selon la scénarisation.
  </li>
  <li>
    Le terrain en ZONE 1 (zone de jeu seulement) vous est accessible à partir de 15h, jusqu'à 20h pour installer votre campement et vos décorations de bâtiments. Après 20h, les charrettes (voitures)
    ne seront plus autorisées sur le terrain et celui-ci sera considéré en jeu dès 20h pour le plaisir de tous. Vous pouvez donc y être présent de façon roleplay entre vous (PvP).
  </li>
  <li>
    Le scénario et l’animation par notre équipe de <span style="font-weight:bold;">BÉNÉVOLES</span> exceptionnels débuteront à partir de 22h.
  </li>
</ul>
<h2>Notez ces quelques règles <span style="font-weight:bold;">TRÈS IMPORTANTES</span></h2>
<span style="font-weight:bold;">Les flammes vives sont proscrites à l'intérieur des bâtiments</span> (chandelle, lanterne, cigarette, encens, etc.)<br/>
<ul>
  <li>
    Le <span style="font-weight:bold;">BRUIT DE NUIT</span> : Dès 23h, baissez le ton (surtout au hall et au manoir) afin d'éviter la visite de la SQ.
  </li>
  <li>
    Veuillez ne <span style="font-weight:bold;">PAS DÉPLACER</span> les objets de décor/mobilier et d’éclairage. (Les glowsticks et les torches sont des objets de décor, ainsi que
    d’éclairage.)
  </li>
  <li>
    Les coffres cadenassés nécessitent des habiletés pour être ouverts. Prenez le temps de lire les cartons dessus. <span style="font-weight:bold;">TOUT COFFRE EST NON DÉPLAÇABLE, sauf par son propriétaire réel.</span>
  </li>
  <li>
    Le 2e étage de presque tous les bâtiments est hors jeu. Il est donc <span style="font-weight:bold;">INTERDIT</span> d’y fouiller ou d’y <span style="font-weight:bold;">CACHER</span> des
    objets de jeu, bourses ou autres, et ce, même la nuit.
    <span style="font-weight:bold;">Notez que le poste de traite est réservé aux «NPC». Il est interdit d’y entrer et interdit de le voler.</span>
  </li>
  <li>
    La nature n’étant pas un cendrier, veuillez vous ramasser et ne jamais fumer à l’intérieur des bâtiments.
  </li>
  <li>
    Les boissons alcoolisées en canettes sont permises à condition d’être servies de façon décorum (les bouteilles de verre et les contenants de verre sont prohibés sur le terrain).
    <span style="font-weight:bold;">Si vos facultés sont trop affaiblies pour vous battre : soyez roleplay et couchez-vous achevé.</span>
  </li>
</ul>
<h2>MISE À JOUR 12 août 2021</h2>
<p>
  <u>Directives spécifiques à la COVID-19</u><br/>
Compte tenu de la pandémie en cours, des mesures spécifiques visent à assurer la sécurité de tous, en conformité avec les directives de la Santé publique. Tout manquement à l’une ou l’autre des règles ci-dessous pourra mener à une expulsion sans remboursement.<br/>
  <b>NB: Le passeport vaccinal est exigé à partir du 1er septembre 2021, ce sont les dernières informations du gouvernement Legault, le tout est hors de notre contrôle.</b>
</p>
<ol>
  <li>
    Un maximum de 50 participants actifs et 50 participants passifs (campeurs ou spectateurs) peuvent être admis sur le site.
  </li>
  <li>
    À son arrivée sur le site, toute personne doit confirmer qu’il n’a pas de symptômes associés à la COVID-19 tels que de la fièvre, de la toux, la perte du goût et de l’odorat, ou des difficultés respiratoires. De plus, elle doit confirmer ne pas avoir été en contact avec une personne ayant été reconnue atteinte de la COVID-19 depuis au moins deux semaines ou être en attente d’un résultat. Finalement, elle doit confirmer ne pas être sous la contrainte d’un avis de la santé publique l’assignant à résidence suite à un déplacement à l’étranger. Toute personne ne pouvant confirmer les éléments ci-dessus se verra refuser l’accès.
  </li>
  <li>
    Les personnes admises doivent s’identifier en donnant leur nom complet, leur adresse de résidence ainsi qu’un courriel et/ou un numéro de téléphone. Ceci vise à permettre à la santé publique de rapidement pouvoir contacter les visiteurs dans le cas d’une éclosion qui surviendrait sur nos lieux et cela malgré les mesures sanitaires proposées ci-dessous.
  </li>
  <li>
    En tout temps, toutes personnes ne résidant pas à la même adresse doivent garder une distance d’au moins 1 mètre avec toutes autres personnes présentes sur le site. **- Dans le cas où la distanciation est impossible, le port du masque est fortement recommandé (Couvrant le nez et la bouche) pour les ‘’participants” qui ne sont pas adéquatement protéger contre le covid-19 selon les recommandations de la santé publique. (C.-à-d. 2 doses de vaccins)
  </li>
  <li>
    Les personnes partageant une unité d’habitation (tente ou bâtiment) doivent provenir d'un maximum de 3 adresse différentes. Un maximum de 10 personnes par bâtiments à l’intérieur.
  </li>
  <li>
    L’étiquette respiratoire est encouragée, telle que: se couvrir la bouche et le nez lorsque l’on tousse ou éternue; utiliser des mouchoirs ou son coude replié, et se laver ensuite les mains; éviter de se toucher la bouche ou les yeux avec les mains.
  </li>
  <li>
    Chaque personne devra avoir en sa possession un masque dont le port reste fortement recommandé ainsi que du gel hydro-alcoolique pour son usage personnel.
  </li>
  <li>
    Le partage d’équipement doit être évité. Lorsque ce n’est pas possible, les objets doivent être désinfectés avant et après chaque utilisation, avec du gel hydro-alcoolique.
  </li>
  <li>
    Des dispositifs permettant la désinfection (lavabo avec eau et savon et/ou stations avec gel hydro-alcoolique) sont mis à la disposition des participants. Dans le cas des toilettes chimiques / sèches, ces dispositifs devront être utilisés afin de se laver les mains en entrant puis en sortant de même que pour nettoyer les lieux avant et après utilisation.
  </li>
  <li>
    Toute personne recevant un test positif au COVID-19 ou ayant été en contact avec une personne ayant reçu un test positif, dans les deux semaines suivant sa présence sur notre site devra en aviser Médiévalys (aka: l’Atelier du loisir) sans délai.
  </li>
</ol>
Au plaisir de vous compter des nôtres lors du prochain Traitre-Lame!
<h3>Merci et Bon jeu, Traître-Lame</h3>
<h3>Nouveauté 2019</h3>
<p>
  Des joueurs appelés «VETERANS» seront disponibles sur le jeu pour vous guider lors de conflits de règles, de questions de guide aux nouveaux et d'arbitre en quelque sorte lors des combats.
  Ils peuvent émettre un avertissement lors de triche par oubli ou par ivresse ou lorsque les règles du terrain ne sont pas respectées.
</p>