{% extends "_base.html" %}

{% block content %}

{% if disable_login %}
<div class="col-sm-offset-4">
  <!-- form login block -->
  <h1>L'accès au compte utilisateur est désactivé.</h1>
</div>

{% elif disable_user_character %}
<div class="col-sm-offset-4">
  <!-- form login block -->
  <h1>L'accès à la création de personnage est désactivé.</h1>
</div>

{% elif not current_user %}

<div class="col-sm-offset-4">
  <h1>Formulaire de nouvelle fiche de personnage</h1>
  Vous devez être connecté à un compte utilisateur pour accéder ou créer une fiche de personnage.<br/>
  <a href="/login?subscribe" class="btn btn-lg btn-default" role="button">S'inscrire</a> ou
  <a href="/login" class="btn btn-lg btn-default" role="button">Se connecter</a>
</div>

{% else %}

<div ng-controller="character_ctrl" style="padding-top: 100px;" ng-cloak>
  <div class="col-xs-3 bs-docs-sidebar" ng-hide="isMobile() && player">
    <br/>
    <div ng-hide="!ddb_user" class="bs-sidebar hidden-print affix" role="complementary">

      <!--<div class="list-group" ng-show="!new_player">-->
      <!--<br/>-->
      <!--Vue de fiche:<br/>-->
      <!--<label>-->
      <!--<input type="radio" ng-model="sheet_view.mode" value="fiche_read"> Fiche en lecture-->
      <!--</label><br/>-->
      <!--<label>-->
      <!--<input type="radio" ng-model="sheet_view.mode" value="form_write"> Formulaire-->
      <!--</label><br/>-->
      <!--<button class="btn btn-primary" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer-->
      <!--</button>-->
      <!--</div>-->
      {% include "character_choose_sheet.html" %}

    </div>

    <div ng-show="player" role="main" class="col-sm-offset-4">

      <div ng-hide="new_player">

        {% include "character_menu.html" %}

        <div class="tab-content" id="manual_main_content">
          <!-- Status -->
          <div id="menu_status" class="tab-pane fade">
            <h1>Statut de la fiche</h1>

            {% include "character_approbation.html" %}
            {% include "character_status_sheet.html" %}
          </div>

          <!-- form -->
          <div id="menu_form" class="tab-pane fade in active">
            {% include "character_form.html" %}
          </div>
          <!-- END form -->

          <!-- attribut -->
          <div id="menu_attribut" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_attribut.html" %}
          </div>
          <!-- END attribut -->

          <!-- skill -->
          <div id="menu_skill" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_skill.html" %}
          </div>
          <!-- END skill -->

          <!-- debut de jeu -->
          <div id="menu_game_begin" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_begin_game.html" %}
          </div>
          <!-- END debut de jeu -->

          <!-- marche -->
          <div id="menu_marche" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_marche.html" %}
          </div>
          <!-- END marche -->

          <!-- merite -->
          <div id="menu_merite" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_merite.html" %}
          </div>
          <!-- END merite -->

          <!-- all_summary -->
          <div id="menu_all_summary" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_attribut.html" %}
            {% include "character_skill.html" %}
            {% include "character_begin_game.html" %}
            {% include "character_marche.html" %}
            {% include "character_merite.html" %}
          </div>
          <!-- END all_summary -->

          <!-- message -->
          <div id="menu_message" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_message.html" %}
          </div>
          <!-- END message -->

          <!-- Print -->
          <div id="menu_print" class="tab-pane fade">
            <button class="btn btn-primary hidden-print" ng-print print-element-id="manual_main_content"><i class="fa fa-print"></i> Imprimer</button>
            {% include "character_print.html" %}
            {% include "character_attribut.html" %}
            {% include "character_skill.html" %}
            {% include "character_begin_game.html" %}
            {% include "character_marche.html" %}
            {% include "character_merite.html" %}
          </div>
          <!-- END Print -->

        </div>
      </div>

      {% include "character_debug_sheet.html" %}

    </div> <!-- end div if player -->
  </div> <!-- end of character_ctrl -->
  {% end %}
  {% end %}
