<div ng-show="sheet_view.mode == 'fiche_read'">
  <!--<div>-->
  <!--<input type="radio" ng-change="characterSheetPrintOptionChange()" ng-model="cs_setting" value="filled" name="cs_setting" id="rd_filled">-->
  <!--<label for="rd_filled">Feuille remplis</label>-->
  <!--<input type="radio" ng-change="characterSheetPrintOptionChange()" value="empty" ng-model="cs_setting" id="rd_empty" name="cs_setting" checked>-->
  <!--<label for="rd_empty">Feuille vide</label>-->
  <!--</div>-->

  <!-- printable character sheet -->
  <div id="manual_main_content">
    <table id="table-to-print">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td class="subtitle-cell" colspan="1">TL</td>
        <td colspan="8">Fiche De Personnage</td>
        <td>Jeux Joués/XP</td>
      </tr>
      <tr>
        <td rowspan="4"></td>
        <td colspan="4">Nom: <span class='sheet-value'>{{!getSheetOutput(cs_player.name) }}</span></td>
        <td colspan="4">Karma: <span class='sheet-value'></span></td>
        <td rowspan="27"></td>
      </tr>
      <tr>
        <td colspan="5">Nom du Personnage: <span class='sheet-value'>{{!getSheetOutput(cs_character.name) }}</span></td>
        <td colspan="3">Race: <span class='sheet-value'>{{!getSheetOutput(cs_character.race) }}</span></td>
      </tr>
      <tr>
        <td colspan="3">Faction: <span class='sheet-value'>{{!getSheetOutput(cs_character.faction) }}</span></td>
        <td colspan="5">Adresse Courriel: <span class='sheet-value'>{{!getSheetOutput(cs_player.email) }}</span></td>
      </tr>
      <tr>
        <td colspan="8">Sous-Faction: <span class='sheet-value'>{{!getSheetOutput(cs_character.sous_faction) }}</span></td>
      </tr>
      <tr>
        <td class="subtitle-cell" colspan="3">Endurence</td>
        <td class="smaller-cell-text">Total: <span class='sheet-value'>{{!getSheetOutput(cs_character.endurance.length) }}</span></td>
        <td class="subtitle-cell" colspan="2">Énergie</td>
        <td class="smaller-cell-text">Total: <span class='sheet-value'>{{!getSheetOutput(cs_character.energie.length) }}</span></td>
        <td class="subtitle-cell" colspan="2" rowspan="2">Bloc de Production</td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="checkbox" disabled ng-checked="cs_character.endurance.length >= 1">
          +1 point de vie maximum
        </td>
        <td class="small-cell-text" colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.energie.length >= 1">
          +2 point d'énergie maximum
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="checkbox" disabled ng-checked="cs_character.endurance.length >= 2">
          +1 point de vie maximum
        </td>
        <td class="small-cell-text" colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.energie.length >= 2">
          +2 point d'énergie maximum
        </td>
        <td rowspan="2" colspan="2">Alchimie:</td>
      </tr>
      <tr>
        <td colspan="4">
          <input type="checkbox" disabled ng-checked="cs_character.endurance.length >= 3">
          +1 point de vie maximum
        </td>
        <td class="small-cell-text" colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.energie.length >= 3">
          +2 point d'énergie maximum
        </td>
      </tr>
      <tr>
        <td colspan="3">1ère Discipline: <span class='sheet-value'>{{!cs_character_habilites[0].discipline }}</span></td>
        <td></td>
        <td colspan="3">2e Discipline: <span class='sheet-value'>{{!cs_character_habilites[1].discipline }}</span></td>
        <td colspan="2" rowspan="2">Artisant:</td>
      </tr>
      <tr>
        <td colspan="3">Habileté A: <span class='sheet-value'>{{!cs_character_habilites[0].hab_A }}</span></td>
        <td></td>
        <td colspan="3">Habileté A: <span class='sheet-value'>{{!cs_character_habilites[1].hab_A }}</span></td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[0].hab_A_1">
          <span class='sheet-value'>{{!cs_character_habilites[0].hab_A_1 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[1].hab_A_1">
          <span class='sheet-value'>{{!cs_character_habilites[1].hab_A_1 }}</span>
        </td>
        <td rowspan="2" colspan="2">Potion:</td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[0].hab_A_2">
          <span class='sheet-value'>{{!cs_character_habilites[0].hab_A_2 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[1].hab_A_2">
          <span class='sheet-value'>{{!cs_character_habilites[1].hab_A_2 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[0].hab_A_3">
          <span class='sheet-value'>{{!cs_character_habilites[0].hab_A_3 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[1].hab_A_3">
          <span class='sheet-value'>{{!cs_character_habilites[1].hab_A_3 }}</span>
        </td>
        <td rowspan="2" colspan="2">Forgeron:</td>
      </tr>
      <tr>
        <td colspan="3">Habileté B: <span class='sheet-value'>{{!cs_character_habilites[0].hab_B }}</span></td>
        <td></td>
        <td colspan="3">Habileté B: <span class='sheet-value'>{{!cs_character_habilites[1].hab_B }}</span></td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[0].hab_B_1">
          <span class='sheet-value'>{{!cs_character_habilites[0].hab_B_1 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[1].hab_B_1">
          <span class='sheet-value'>{{!cs_character_habilites[1].hab_B_1 }}</span>
        </td>
        <td rowspan="2" colspan="2">Herboriste:</td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[0].hab_B_2">
          <span class='sheet-value'>{{!cs_character_habilites[0].hab_B_2 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[1].hab_B_2">
          <span class='sheet-value'>{{!cs_character_habilites[1].hab_B_2 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[0].hab_B_3">
          <span class='sheet-value'>{{!cs_character_habilites[0].hab_B_3 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[1].hab_B_3">
          <span class='sheet-value'>{{!cs_character_habilites[1].hab_B_3 }}</span>
        </td>
        <td rowspan="2" colspan="2">Enchantement:</td>
      </tr>
      <tr>
        <td colspan="7"></td>
      </tr>
      <tr>
        <td colspan="3">3e Discipline: <span class='sheet-value'>{{!cs_character_habilites[2].discipline }}</span></td>
        <td></td>
        <td colspan="3">4e Discipline: <span class='sheet-value'>{{!cs_character_habilites[3].discipline }}</span></td>
        <td rowspan="3" colspan="2" style="vertical-align: top">
          Rituel/École: <br/>
          <ul ng-repeat="ecole in cs_character.rituel_ecole">
            <li>{{!ecole }}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="3">Habileté A: <span class='sheet-value'>{{!cs_character_habilites[2].hab_A }}</span></td>
        <td></td>
        <td colspan="3">Habileté A: <span class='sheet-value'>{{!cs_character_habilites[3].hab_A }}</span></td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[2].hab_A_1">
          <span class='sheet-value'>{{!cs_character_habilites[2].hab_A_1 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[3].hab_A_1">
          <span class='sheet-value'>{{!cs_character_habilites[3].hab_A_1 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[2].hab_A_2">
          <span class='sheet-value'>{{!cs_character_habilites[2].hab_A_2 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[3].hab_A_2">
          <span class='sheet-value'>{{!cs_character_habilites[3].hab_A_2 }}</span>
        </td>
        <td rowspan="3" colspan="2">Composantes Magiques:</td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[2].hab_A_3">
          <span class='sheet-value'>{{!cs_character_habilites[2].hab_A_3 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[3].hab_A_3">
          <span class='sheet-value'>{{!cs_character_habilites[3].hab_A_3 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">Habileté B: <span class='sheet-value'>{{!cs_character_habilites[2].hab_B }}</span></td>
        <td></td>
        <td colspan="3">Habileté B: <span class='sheet-value'>{{!cs_character_habilites[3].hab_B }}</span></td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[2].hab_B_1">
          <span class='sheet-value'>{{!cs_character_habilites[2].hab_B_1 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[3].hab_B_1">
          <span class='sheet-value'>{{!cs_character_habilites[3].hab_B_1 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[2].hab_B_2">
          <span class='sheet-value'>{{!cs_character_habilites[2].hab_B_2 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[3].hab_B_2">
          <span class='sheet-value'>{{!cs_character_habilites[3].hab_B_2 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[2].hab_B_3">
          <span class='sheet-value'>{{!cs_character_habilites[2].hab_B_3 }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character_habilites[3].hab_B_3">
          <span class='sheet-value'>{{!cs_character_habilites[3].hab_B_3 }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          Technique de Maitre
        </td>
        <td></td>
        <td colspan="3">
          Technique de Maitre
        </td>
        <td colspan="3">Commerce</td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[0]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[0] }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[1]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[1] }}</span>
        </td>
        <td colspan="3" rowspan="5"></td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[2]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[2] }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[3]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[3] }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[4]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[4] }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[5]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[5] }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[6]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[6] }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[7]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[7] }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[8]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[8] }}</span>
        </td>
        <td></td>
        <td colspan="3">
          <input type="checkbox" disabled ng-checked="cs_character.technique_maitre[9]">
          <span class='sheet-value'>{{!cs_character.technique_maitre[9] }}</span>
        </td>
      </tr>
    </table>
  </div>
</div> <!-- end div fiche_read -->
