{% extends "_base.html" %}

{% block content %}

<!--Source http://bootsnipp.com/snippets/featured/responsive-login-with-social-buttons -->
<link href="{{ static_url('resources/css/login.css') }}" rel="stylesheet">
<link href="{{ static_url('resources/css/login_dark.css') }}" rel="stylesheet">

<div class="container" ng-controller="login_ctrl" ng-cloak>
  <!--Sign in-->
  <div class="omb_login" ng-show="show_login" ng-cloak>
    <h3 class="omb_authTitle"><b>Connexion</b> ou <a href="#" ng-click="show_login=false;">Inscription</a></h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
          <i class="fa fa-facebook visible-xs"></i>
          <span>Facebook</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
          <i class="fa fa-twitter visible-xs"></i>
          <span>Twitter</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-google">
          <i class="fa fa-google-plus visible-xs"></i>
          <span>Google+</span>
        </a>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">ou</span>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form name="loginForm" class="omb_loginForm" action="" autocomplete="off" method="POST">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="email" class="form-control" name="email" placeholder="Adresse courriel" required>
          </div>
          <br/>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
          </div>
          <br/>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        </form>
      </div>
    </div>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-3">
        <label class="checkbox" disabled>
          <input type="checkbox" value="remember-me">Remember Me
        </label>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p class="omb_forgotPwd">
          <a href="#">Forgot password?</a>
        </p>
      </div>
    </div>
  </div>
  <!--Sign up-->
  <div class="omb_login" ng-hide="show_login" ng-cloak>
    <h3 class="omb_authTitle"><a href="#" ng-click="show_login=true;">Connexion</a> ou <b>Inscription</b></h3>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form name="signUpForm" class="omb_signUpForm" action="" autocomplete="off" method="POST">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name="name" placeholder="Nom" ng-model="name" unique-name required>
          </div>
          <span class="help-block" ng-if="signUpForm.name.$pending.unique">...</span>
          <span class="help-block" ng-if="signUpForm.name.$error.unique">Ce nom est déjà utilisé.</span>
          <br/>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="email" class="form-control" name="email" placeholder="Adresse courriel" ng-model="email" unique-email required>
          </div>
          <span class="help-block" ng-if="signUpForm.email.$pending.unique">...</span>
          <span class="help-block" ng-if="signUpForm.email.$error.unique">Cette adresse courriel déjà utilisée.</span>
          <br/>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
          </div>
          <br/>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Créer un compte</button>
        </form>
      </div>
    </div>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-3">
        <label class="checkbox" disabled>
          <input type="checkbox" value="remember-me">Remember Me
        </label>
      </div>
    </div>
  </div>
  <p ng-show="error">{{! error.message }}</p>
</div>

{% end %}
