{% extends "_base.html" %}

{% block content %}

<div ng-controller="news_ctrl" class="row">
  <!-- Border left -->
  <!--<div class="col-sm-1"></div>-->
  <!-- Panel left -->
  <div class="col-sm-6">
    <h1>Traître-Lame GN 18+</h1>
    <p class="titre-a">
      Campagne 2.0 Saison 2019
    </p>
    <p class="titre-a">
      Une activité au Québec axée sur les capacités réelles des joueur.se.s plutôt que sur
      l'ancienneté de leur personnage.
    </p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Prochain événement <i class="fa fa-calendar-check-o"></i></h3>
      </div>
      <div class="panel-body">
        <p class="titre-a">Type d'événement: <b>GN - Tout le terrain</b></p>
        <p class="titre-a">Titre: <b>Jeu 5</b></p>
        <p class="titre-a">Date: <b>31 mai à 20h au 1 juin à 20h, 2019</b></p>
        <p class="titre-a">Lieu: <b><a href="https://goo.gl/maps/YpaQu3zk9Xy"><u>Au terrain <i class="fa fa-map"></i> 1801 Chemin Béthanie, Béthanie (Québec), J0H 1E1, (450) 548-2720</u></a></b></p>
        <p class="titre-a">Prix: <b>50$</b></p>
        <p class="titre-a">Prix nouveau: <b>40$</b></p>
        <p class="titre-a">Âge: <b>18+</b></p>
        <p class="titre-a">Passe de saison: <b>160$ pour les 4 prochains jeux et donne accès à :</b><br/>
        <ul>
          <li>
            une économie de 20$ sur l'année;
          </li>
          <li>
            2 appuis au choix en bonus;
          </li>
          <li>
            1 mouvement d'un point d'expérience sur la fiche (uniquement les talents de base).
          </li>
        </ul>
        </p>
        <p class="titre-a">
          <a href="https://www.facebook.com/events/2275632666052454"><i class="fab fa-facebook-square"></i> <u>Événement Facebook <i class="fa fa-link"></i></u></a>
        </p>
        <!--<p><a href="#" class="btn btn-default btn-lg disabled">Contactez-nous</a><a href="#" class="btn btn-default btn-lg disabled">Prochain Évenement</a></p>-->
      </div>
      <!--<div class="panel-footer">-->
      <!--<p style="color:black;">-->
      <!--Synposis Jeu 5-->
      <!--</p>-->
      <!--<p style="color:black;">-->
      <!--Il y a toujours un mauvais côté dans chaque victoire et la dernière des villageois de Vallam et des Sarsares laisse un gout amer. La victoire a amené la destruction du Père Champignon de la-->
      <!--région, un geste horrible auquel ont dû se résigner les Sarsares. La contamination nécromantique du champignon; la même source à la malachite contaminée se serait répendue aux Racines Mères-->
      <!--et aux Arbres Sacrés. Maintenant, la nature ne risque plus de totalement succomer au contrôle de la Nation des Morts, mais si ils répètent leurs attaques, les Arbres Sacrés et les Racines-->
      <!--Mères pourraient bientôt être la cible des attaques de morts-vivants.-->
      <!--</p>-->
      <!--</div>-->
    </div>
    <h1>Qu'est-ce que Traître-Lame?</h1>
    <p>
      Traître-Lame est une activité née au sein de l'Atelier du loisir en 2009 mettant l'emphase sur le combat et la géopolitique. L'activité se démarque par un système de règles avec une base simple,
      mais avec une grande variété d'options. Le système de magie y est conçu pour être intéressant sans briser le flot des combats ou permettre de terrasser un adversaire sans faire usage de sagacité
      ou d'adresse au combat.
    </p>
    <p>
      Traître-Lame se veut une activité orientée pour les adultes. La consommation d'alcool y est permise de façon responsable et mature.
    </p>
    <h1>Dates 2019</h1>
    <ul>
      <li style="color:#00FF00">31 Mai - 1 Juin</li>
      <li>5-6 Juillet</li>
      <li>16-17 Août</li>
      <li>12 octobre (séquentiel à 30$)</li>
    </ul>
    <h1>Tarifs 2019</h1>
    <ul>
      <li style="list-style-type:disc">Billet: 50$</li>
      <li style="list-style-type:disc">Billet nouveau joueur: 40$</li>
      <!--<li style="list-style-type:disc">Passe de saison: <b>160$ pour les 4 prochains jeux et donne accès à une technique de maître à la création de son personnage.</b></li>-->
    </ul>
    <h1>Localisation</h1>
    <ul>
      <li style="list-style-type:disc"><a href="https://goo.gl/maps/YpaQu3zk9Xy"><u>Au terrain <i class="fa fa-map"></i> 1801 Chemin Béthanie, Béthanie (Québec), J0H 1E1, (450) 548-2720</u></a></li>
      <li style="list-style-type:disc"><a href="http://gn.qc.ca/atelier/directions/"><u>Pour plus d'information sur l'indication de la route.</u> <i class="fa fa-link"></i></a></li>
    </ul>
  </div>
  <!-- Panel right -->
  <div class="col-sm-6">
    <h1>Section du site</h1>
    <a href="character">
      <button type="button" id="btn-per">
        <br/><br/><br/><br/><br/><br/><br/>
        <h1 style="background: rgba(0, 0, 0, 0.4);">Personnage</h1>
        <div style="background: rgba(0, 0, 0, 0.7)">Fiche du joueur.se: suivi de la progression, point d'expérience et point de mérite.</div>
      </button>
    </a>
    <br/>
    <br/>
    <a href="manual">
      <button type="button" id="btn-ldr">
        <br/><br/><br/><br/><br/><br/><br/>
        <h1 style="background: rgba(0, 0, 0, 0.4);">Livre de règles</h1>
        <div style="background: rgba(0, 0, 0, 0.7)">Règles, habilités et rituels.</div>
      </button>
    </a>
    <br/>
    <br/>
    <a href="lore">
      <button type="button" id="btn-uni">
        <br/><br/>
        <h1 style="background: rgba(0, 0, 0, 0.4);">Univers</h1>
        <br/><br/><br/><br/><br/>
        <div style="background: rgba(0, 0, 0, 0.7)">Politiques, guildes et groupe NPC.</div>
      </button>
    </a>
    <h1>Remerciement</h1>
    Merci aux organisateur.trice.s et aux bévénoles.<br/>
    Merci aux contributeur.trice.s du logiciel web.<br/>
    Merci à <a href="http://www.calendriergn.ca"><u>www.calendriergn.ca</u> <i class="fa fa-link"></i></a> pour leur projet de calendrier du GN au Québec.<br/>
    <a href="https://github.com/AdminTL/gestion_personnage_TL/blob/master/README.fr.md"><u>Visitez ici pour plus d'information sur le développement du logiciel.</u> <i class="fa fa-link"></i></a><br/>
  </div>
  <!-- Border right -->
  <!--<div class="col-sm-1"></div>-->
</div>

<!--<div class="row">-->
<!--&lt;!&ndash; Border left &ndash;&gt;-->
<!--<div class="col-sm-1"></div>-->
<!--&lt;!&ndash; Panel left &ndash;&gt;-->
<!--<div class="col-sm-5">-->
<!--</div>-->
<!--&lt;!&ndash; Panel right &ndash;&gt;-->
<!--<div class="col-sm-5">-->
<!--</div>-->
<!--&lt;!&ndash; Border right &ndash;&gt;-->
<!--<div class="col-sm-1"></div>-->
<!--</div>-->

{% include "facebook_news.html" %}

<nav class="navbar navbar-inverse navbar-fixed-bottom linkbdp" style="background-color: black; text-align: center">
  <div class="container-fluid">
    <u><a href="https://www.facebook.com/groups/TraitreLame">Groupe Facebook</a></u> | 
    <u><a href="https://www.facebook.com/traitrelame/">Page Facebook</a></u> |
    <u><a href="http://gn.qc.ca/traitre-lame/">Atelier du Loisir</a></u> |
    <u><a href="https://github.com/AdminTL/gestion_personnage_TL">Code source du logiciel</a></u> |
    <u><a href="mailto:traitrelame@gmail.com">traitrelame@gmail.com</a></u>
  </div>
</nav>

{% end %}
