{% extends "_base.html" %}

{% block content %}

<div ng-controller="news_ctrl" class="row">
  <!-- Border left -->
  <!--<div class="col-sm-1"></div>-->
  <!-- Panel left -->
  <div class="col-sm-6">
    <h1>Traître-Lame GN 18+</h1>
    <p class="titre-a">
      Campagne 2.0 Saison 2019
    </p>
    <p class="titre-a">
      Une activité au Québec axée sur les capacités réelles des joueur.se.s plutôt que sur
      l'ancienneté de leur personnage.
    </p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Prochain événement <i class="fa fa-calendar-check-o"></i></h3>
      </div>
      <div class="panel-body">
        <p class="titre-a">Type d'événement: <b>GN - Tout le terrain</b></p>
        <p class="titre-a">Titre: <b>Jeu 5 - Le Retour des Humanistes</b></p>
        <p class="titre-a">Date: <b>31 mai à 20h au 2 juin à 1h, 2019</b></p>
        <p class="titre-a">Lieu: <b><a href="https://goo.gl/maps/YpaQu3zk9Xy"><u>Au terrain <i class="fa fa-map"></i> 1801 Chemin Béthanie, Béthanie (Québec), J0H 1E1, (450) 548-2720</u></a></b></p>
        <p class="titre-a">Prix: <b>50$</b></p>
        <p class="titre-a">Prix nouveau: <b>40$</b></p>
        <p class="titre-a">Âge: <b>18+</b></p>
        <p class="titre-a">Passe de saison: <b>160$ pour les 4 prochains jeux et donne accès à :</b><br/>
        <ul>
          <li>
            une économie de 20$ sur l'année;
          </li>
          <li>
            2 appuis au choix en bonus;
          </li>
          <li>
            1 mouvement d'un point d'expérience sur la fiche (uniquement les talents de base).
          </li>
        </ul>
        </p>
        <p class="titre-a">
          <a href="https://www.facebook.com/events/2275632666052454"><i class="fab fa-facebook-square"></i> <u>Événement Facebook <i class="fa fa-link"></i></u></a>
        </p>
        <!--<p><a href="#" class="btn btn-default btn-lg disabled">Contactez-nous</a><a href="#" class="btn btn-default btn-lg disabled">Prochain Évenement</a></p>-->
      </div>
      <div class="panel-footer">
        <p style="color:black;">
          Traître-Lame jeu 5: Le Retour des Humanistes<br/>
          Épilogue et synopsis.
        </p>
        <p style="color:black;">
          TRAGÉDIE!!! Le pont de Pont-Blanc s’est effondré. Durant les premiers mois de l’hiver, des esclaves rebelles ont libéré plusieurs des leurs durant une attaque tragique causant la mort de
          plus de deux cents personnes, autant maîtres que les esclaves. Selon les rapports les plus crédibles, les Balmont auraient aidé les esclaves menés par le glorieux autoproclamé Général de la
          Révolte. Leur implication reste floue, mais cinq puissantes explosions ont dévasté le pont millénaire et l’Académie de nécromancie des Failles; un bâtiment presque aussi vieux que le pont.
          Les témoins parlent d’explosion gargantuesque sortie tout droit des enfers et d’une attaque chirurgicale. Le pont de marbre ayant tenu pendant plus de mille ans, aujourd’hui ses décombres
          ont causé des inondations dans les terres à l’amont de la rivière.
        </p>
        <p style="color:black;">
          Le commerce de toute la Sarsonne en est affectée, les quelques navires pouvant remonter la rivière sont bloqués par les débris du pont et les bacs de Nilure sont surchargés de caravanes
          d’Amunzrat préférant le prix de ces derniers à ceux des navires se rendant à la cité-état. Vallam en sort gagnant étant au milieu des routes vers le sud ou vers l’est. Ce sont des dizaines,
          parfois des centaines de personnes qui, chaque jour, arrivent à Vallam et repartent. Les escarmouches perpétrées par les Rebels forcent les caravaniers d’Amunzrat à protéger leur caravane
          d’esclaves contre les fréquentes attaques du Général.
        </p>
        <p style="color:black;">
          Outre cette attaque odieuse, les Balmont n’ont pas semblés très actifs durant l’hiver. Les murs qui entourent Calipoli sont chaque semaine plus colossaux et la ville semble connaître un âge
          d’or. Les Balmont qui y sont vus se mêlent au peuple et n’attirent pas l’attention. Toutefois, ceux qui sont allés cet hiver ont pu remarquer les mouvements de troupes, mais surtout le
          portail qui maintenant demeure ouvert en permanence. Les Balmont fouillent les visiteurs, mais ne gênent pas les voyageurs vers la Zazanovie, cependant ils saisissent tous poisons,
          composantes magiques de démonologie, lootbags infernaux et même la sanglite. Leur récente implication dans la révolte des esclaves, véridique ou non, a augmenté les tensions avec Amunzrat
          qui fait patrouiller un peu plus son territoire par des bourreaux rouges protégés des armées mortes-vivantes du syndicat.
        </p>
        <p style="color:black;">
          Du côté est de la Sarsonne, en Zazanovie, les nobles propriétaires ont passé une nouvelle loi sur la dette de la cité-état. Une taxe de 10% sera appliquée pour toutes choses passant les
          douanes et pouvant être comptées par 10: l'or, l'argent, les ressources et les composantes magiques. Une nouvelle formation dans l’ordre de la compagnie de bronze, les douaniers de bronze,
          sera composée de plus de 500 personnes et appliquera la récente taxe sur 3 routes principales et 17 routes secondaires. Bien que cette loi fut votée à l'unanimité, son motif réel est peu
          subtil, réduire l'influence des Figaro qui vivent à Malédastarône.
        </p>
        <p style="color:black;">
          Autant d'esclaves en fuite et de passants dans la région aura fait fuir les clans sarsares qui avaient tenté de cohabiter avec les villageois de Vallam. Les pacifiques membres de la Meute
          sont remplacés au cours de l'hiver par des Sarsares agressifs et violents accompagnés d'une nouvelle vague de druides. Leurs intentions sont hostiles, ne vous y méprenez pas! Ils ont déjà
          commencé à former des groupes d'attaques et viennent viser les bâtiments avec leur magie naturelle destructrice. Ils deviendront rapidement une plus grande menace que les pauvres esclaves en
          fuite, affamés et blessés.
        </p>
        <p style="color:black;">
          Les érudits des environs ont remarqué des changements dans les lignes de magies et la destinée de Vallam semble prendre une place de choix dans les événements futurs. Que peut bien
          représenter Vallam pour tous ces gens et, surtout, cela vous empêchera-t-il de dormir en paix?
        </p>
        <p style="color:black;">
          On parle de la Nation des morts qui, peu active durant l'hiver, a démontré une résurgence au printemps. Cela aurait-il un lien avec les gens partis en voyage cet hiver et qui seraient
          revenus ? Découvrez ce que recherche la Nation des morts ou subissez les conséquences de votre inaction.
        </p>
        <p style="color:black;">
          On parle des Illithide, le mot revient de plus en plus et les gens un peu idiots commencent à leur mettre sur le dos tous les changements politiques de la région. Cependant, vous avez été la
          victime de l’un d'entre eux et il n’a pas obtenu ce qu'il voulait. Il reviendra sûrement et sera bien plus prêt cette fois grâce à ses nouveaux serviteurs.
        </p>
        <p style="color:black;">
          Trêve de bavardages, les habitants de Vallam sont en fête; tissus verts des plus festifs sur les tables et aux fenêtres, une touche de vert sur les vêtements, des fleurs dans les cheveux. Le
          Greenfest est là! Cette fête à l'origine sarsare fut adoptée et adaptée par toutes les factions de la Sarsonne. Les villageois auront sûrement envie de festoyer lors de ce festival d'un mois
          débutant le matin du premier juin. Les gens fêtent peut-être aussi la veille, les traditions de celle-ci étant aussi diverses que les villageois de Vallam.
        </p>
      </div>
    </div>
    <h1>Qu'est-ce que Traître-Lame?</h1>
    <p>
      Traître-Lame est une activité née au sein de l'Atelier du loisir en 2009 mettant l'emphase sur le combat et la géopolitique. L'activité se démarque par un système de règles avec une base simple,
      mais avec une grande variété d'options. Le système de magie y est conçu pour être intéressant sans briser le flot des combats ou permettre de terrasser un adversaire sans faire usage de sagacité
      ou d'adresse au combat.
    </p>
    <p>
      Traître-Lame se veut une activité orientée pour les adultes. La consommation d'alcool y est permise de façon responsable et mature.
    </p>
    <h1>Dates 2019</h1>
    <ul>
      <li style="color:#00FF00">31 Mai - 2 Juin</li>
      <li>5-7 Juillet</li>
      <li>16-18 Août</li>
      <li>12 octobre (séquentiel à 30$)</li>
    </ul>
    <h1>Tarifs 2019</h1>
    <ul>
      <li style="list-style-type:disc">Billet: 50$</li>
      <li style="list-style-type:disc">Billet nouveau joueur: 40$</li>
      <!--<li style="list-style-type:disc">Passe de saison: <b>160$ pour les 4 prochains jeux et donne accès à une technique de maître à la création de son personnage.</b></li>-->
    </ul>
    <h1>Localisation</h1>
    <ul>
      <li style="list-style-type:disc"><a href="https://goo.gl/maps/YpaQu3zk9Xy"><u>Au terrain <i class="fa fa-map"></i> 1801 Chemin Béthanie, Béthanie (Québec), J0H 1E1, (450) 548-2720</u></a></li>
      <li style="list-style-type:disc"><a href="http://gn.qc.ca/atelier/directions/"><u>Pour plus d'information sur l'indication de la route.</u> <i class="fa fa-link"></i></a></li>
    </ul>
  </div>
  <!-- Panel right -->
  <div class="col-sm-6">
    <h1>Section du site</h1>
    <a href="character">
      <button type="button" id="btn-per">
        <br/><br/><br/><br/><br/><br/><br/>
        <h1 style="background: rgba(0, 0, 0, 0.4);">Personnage</h1>
        <div style="background: rgba(0, 0, 0, 0.7)">Fiche du joueur.se: suivi de la progression, point d'expérience et point de mérite.</div>
      </button>
    </a>
    <br/>
    <br/>
    <a href="manual">
      <button type="button" id="btn-ldr">
        <br/><br/><br/><br/><br/><br/><br/>
        <h1 style="background: rgba(0, 0, 0, 0.4);">Livre de règles</h1>
        <div style="background: rgba(0, 0, 0, 0.7)">Règles, habilités et rituels.</div>
      </button>
    </a>
    <br/>
    <br/>
    <a href="lore">
      <button type="button" id="btn-uni">
        <br/><br/>
        <h1 style="background: rgba(0, 0, 0, 0.4);">Univers</h1>
        <br/><br/><br/><br/><br/>
        <div style="background: rgba(0, 0, 0, 0.7)">Politiques, guildes et groupe NPC.</div>
      </button>
    </a>
    <h1>Remerciement</h1>
    Merci aux organisateur.trice.s et aux bévénoles.<br/>
    Merci aux contributeur.trice.s du logiciel web.<br/>
    Merci à <a href="http://www.calendriergn.ca"><u>www.calendriergn.ca</u> <i class="fa fa-link"></i></a> pour leur projet de calendrier du GN au Québec.<br/>
    <a href="https://github.com/AdminTL/gestion_personnage_TL/blob/master/README.fr.md"><u>Visitez ici pour plus d'information sur le développement du logiciel.</u> <i class="fa fa-link"></i></a><br/>
  </div>
  <!-- Border right -->
  <!--<div class="col-sm-1"></div>-->
</div>

<!--<div class="row">-->
<!--&lt;!&ndash; Border left &ndash;&gt;-->
<!--<div class="col-sm-1"></div>-->
<!--&lt;!&ndash; Panel left &ndash;&gt;-->
<!--<div class="col-sm-5">-->
<!--</div>-->
<!--&lt;!&ndash; Panel right &ndash;&gt;-->
<!--<div class="col-sm-5">-->
<!--</div>-->
<!--&lt;!&ndash; Border right &ndash;&gt;-->
<!--<div class="col-sm-1"></div>-->
<!--</div>-->

{% include "facebook_news.html" %}

<nav class="navbar navbar-inverse navbar-fixed-bottom linkbdp" style="background-color: black; text-align: center">
  <div class="container-fluid">
    <u><a href="https://www.facebook.com/groups/TraitreLame">Groupe Facebook</a></u> | 
    <u><a href="https://www.facebook.com/traitrelame/">Page Facebook</a></u> |
    <u><a href="http://gn.qc.ca/traitre-lame/">Atelier du Loisir</a></u> |
    <u><a href="https://github.com/AdminTL/gestion_personnage_TL">Code source du logiciel</a></u> |
    <u><a href="mailto:traitrelame@gmail.com">traitrelame@gmail.com</a></u>
  </div>
</nav>

{% end %}
