{% extends "_base.html" %}

{% block content %}

{% if user %}
<div ng-controller="profile_ctrl" ng-cloak>
  <h1>Profil de {{!model_profile.info.name }}</h1>
  <h2>Fiche de personnage</h2>
  <a href="/character" class="btn btn-lg btn-default" role="button">Accéder à sa fiche</a>

  <h2>Information personnel</h2>
  <p>Surnom: {{!model_profile.info.username }}</p>
  <p>Nom: {{!model_profile.info.name }}</p>
  <p>Email: {{!model_profile.info.email }}</p>
  <p>ID: {{!model_profile.info.user_id }}</p>
  <p>Code Postale: {{!model_profile.info.postal_code }}</p>
  <div>
    <!-- Add new password -->
    <div ng-show="model_profile.info && !model_profile.info.password">
      <h3>Ajouter un mot de passe</h3>
      <input type="password" ng-model="model_profile.add_password.password" placeholder="Mot de passe" required>
      <input type="password" ng-model="model_profile.add_password.check_password" placeholder="Confirmation du mot de passe" required>
      <a ng-click="add_new_password()" class="btn btn-lg btn-default" role="button" ng-class="model_profile.add_password.loading ? 'disabled' : ''"><span class="fa fa-spinner fa-spin"
                                                                                                                                                          ng-show="model_profile.add_password.loading"></span>
        Ajouter le mot de passe</a>
    </div>

    <!-- Update password -->
    <div ng-show="model_profile.info && model_profile.info.password">
      <h3>Modifier son mot de passe</h3>
      <input type="password" ng-model="model_profile.update_password.old_password" placeholder="Vieux password" required>
      <input type="password" ng-model="model_profile.update_password.new_password" placeholder="Nouveau password" required>
      <a ng-click="update_password()" class="btn btn-lg btn-default" ng-class="model_profile.update_password.loading ? 'disabled' : ''" role="button"><span class="fa fa-spinner fa-spin"
                                                                                                                                                            ng-show="model_profile.update_password.loading"></span>
        Sauvegarder</a>
    </div>

    <!-- Status of password -->
    <a ng-show="model_profile.status_password.enabled" ng-style="model_profile.status_password.is_error ? {'color': 'red'} : {'color': 'green'}">{{!model_profile.status_password.text }}</a>
  </div>
</div>
{% else %}
<div class="alert alert-warning">Profil inexistant, veuillez-vous créer un <a href="/login" class="btn btn-lg btn-default" role="button">compte</a>.</div>
{% end %}

{% end %}