/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  padding-top: 60px;
  outline: 0;
  margin-bottom: 100px;
}
.nav-button {
  width: 100%;
  text-align: left;
}
a:focus {
  outline: 0;
}

.sidebar-left, .content {
    display: inline-block;
    float: left;
    clear: both;
    height: 100%;
}

.sidebar-left {
    width: 300px;
}

.navbar-nav > li {
    display: inline-block;
}

.content {
    width: 500px;
    position: relative;
    left: 300px;
}

@media screen {
    #printSection {
        display: none;
    }
    .screen-hide {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }

    #printSection, #printSection * {
        visibility:visible;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }

    #manual_main_content {
      page-break-after:always;
    }

    .print-hide {
        display: none;
    }

    body {
      font: 12pt Georgia, "Times New Roman", Times, serif;
      line-height: 1.3;
    }
    #content p {
      font-size:11pt;
      color: black;
    }

    #content img {
      display:block;
      page-break-after: avoid;
      page-break-inside: avoid;
    }

    #content ul, li {
      display:block;
      border: 1px dashed #eceeca;
      page-break-inside:avoid;
    }

    #header {display:none;}
    #comments {display:none;}
    #sidebar {display:none;}
    #footer {display:none;}

    .site-description {display:none;}
    .site-title {display:none;}

}
